{% extends 'layouts/application.html' %} {% block bodyClass %}class="home-page"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}
<div class="breadcrumb">
    <div class="container">
        <ul class="list-inline mb-0">
            <li class="list-inline-item"><a href="index.html">Trang chủ</a></li>
            <li class="list-inline-item">Các diện đầu tư định cư theo tỉnh bang Canada</li>
        </ul>
    </div>
</div>
<section class="content-wrap py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h3 class="mb-4"><b>Các diện đầu tư định cư theo tỉnh bang Canada</b></h3>
                <p>Canada chia chương trình nhập cư theo từng tỉnh bang, mỗi tỉnh bang lại có những quy định và điều kiện khác nhau cho ứng viên. Hiện IMM Group đang tư vấn làm hồ sơ nhập cư diện doanh nhân, đầu tư tại hầu hết các tỉnh bang lớn của Canada.
                    Khách hàng có thể click vào tên của từng tỉnh bang để tìm hiểu thông tin về chương trình nhập cư của tỉnh bang đó.</p>
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">ĐỊNH CƯ CANADA DẠNG KHỞI NGHIỆP (START-UP VISA) <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <p>Visa Khởi nghiệp Canada là chương trình định cư cấp Liên bang, cho phép người đứng đơn sinh sống tại bất kỳ nơi nào trên lãnh thổ Canada (trừ Quebec). Đối tượng của chương trình là các nhà đầu tư có trình độ quản lý và
                                    năng lực tài chính, thực sự mong muốn kinh doanh ở Canada thông qua việc thành lập doanh nghiệp mới tại đây.</p>
                                <p>Chương trình Visa Khởi nghiệp Canada cho phép nhà đầu tư nhận được sự tư vấn về thị trường và thủ tục hành chính từ các Tổ chức Hỗ trợ Khởi nghiệp. Với những hồ sơ được chấp thuận, nhà đầu tư sẽ được cấp Giấy phép làm việc
                                    (Work Permit) để triển khai các hoạt động kinh doanh và nhận thẻ thường trú nhân Canada cho cả gia đình.</p>
                                <ul style="list-style-type: upper-roman;">
                                    <li>Lợi thế của chương trình Visa Khởi Nghiệp Canada:
                                        <ul style="list-style-type: disc;">
                                            <li>Là chương trình định cư Canada có thời gian xử lý hồ sơ nhanh nhất.</li>
                                            <li>Không yêu cầu ký quỹ như các chương trình định cư khác.</li>
                                            <li>Không quy định hạn mức việc làm phải tạo ra cho người bản xứ.</li>
                                            <li>Có thể định cư tại bất kỳ tỉnh bang nào trên lãnh thổ Canada (trừ Quebec).</li>
                                            <li>Cấp thẻ thường trú nhân không điều kiện cho cả gia đình.</li>
                                        </ul>
                                    </li>
                                    <li>
                                        Điều kiện để tham gia chương trình Visa Khởi Nghiệp Canada:
                                        <ul style="list-style-type: disc;">
                                            <li>Có ý tưởng kinh doanh.</li>
                                            <li>Có tối thiểu 2 năm kinh nghiệm quản lý cấp cao.</li>
                                            <li>Có khả năng ngoại ngữ đạt trình độ CLB 5, tương đương IELTS 5.0.</li>
                                            <li>Chứng minh sở hữu tài sản hợp pháp trị giá 500.000 CAD và đủ khả năng trang trải sinh hoạt phí.</li>
                                            <li>Có thư chấp thuận hỗ trợ từ một tổ chức hỗ trợ khởi nghiệp.</li>
                                            <li>Đạt tỷ lệ góp vốn vào dự án kinh doanh theo luật định.</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <a href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">DOANH NHÂN MANITOBA <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>

                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">

                                <p class="text-center"><img class="m-auto" src="../images/doanh-nhan-manitoba.jpg" alt="doanh-nhan-manitoba.jpg"></p>
                                <p><em>Cập nhật 16/09/2016</em></p>
                                <p><b>Thể loại:</b> Chương trình chỉ định tỉnh Manitoba.</p>
                                <p><b>Loại visa:</b> Thường trú nhân cho cả gia đình.</p>
                                <p><b>Văn phòng xét duyệt hồ sơ chính:</b> Văn phòng di trú tỉnh Manitoba</p>
                                <p><b>Quy trình:</b> thụ lý chính do văn phòng nhập cư tỉnh Manitoba cấp chứng nhận chỉ định tỉnh Manitoba, Canada. Theo sau chứng nhận nhập cư do Manitoba chấp thuận, văn phòng visa liên bang cấp visa định cư.</p>
                                <p><b>Các điều kiện cơ bản:</b></p>
                                <p>1. Có tối thiểu 3 năm kinh nghiệm ở cấp độ quản lý như giám đốc, phó giám đốc v.v.</p>
                                <p>2. Sở hữu hợp pháp tài sản cá nhân bao gồm nhà cửa, đất đai, tiền mặt, cổ phiếu tương đương 350.000 CAD.</p>
                                <p>3. Có dự án đầu tư sang tỉnh Manitoba tối thiếu 150.000 CAD.</p>
                                <p>4. Sắp xếp chuyến đi sang tỉnh Manitoba tối thiểu 5 ngày để tìm hiểu về cơ hội kinh doanh và điều kiện sinh sống của tỉnh này. Trong suốt chuyến đi này nhà đầu tư sẽ được gặp các viên chức chính phủ của tỉnh này để phỏng
                                    vấn.
                                </p>
                                <p>5. Tạm ứng ký quỹ cho chính phủ tỉnh Manitoba số tiền 100.000 CAD. Số tiền này sẽ được hoàn lại sau khi nhà đầu tư được phép sang định cư và dự án kinh doanh/công ty mua ở Manitoba được thực hiện. Yêu cầu thông thường sau
                                    2 năm kể từ ngày sang định cư Canada, nhà đầu tư phải thực hiện dự án kinh doanh của mình. Việc gia hạn khoảng thời gian này có thể được xem xét tùy theo từng trường hợp cụ thể.</p>
                                <p>6. Đạt tối thiểu 60 điểm theo thang điểm lựa chọn của Manitoba (liên hệ với IMM để được đánh giá)</p>
                                <p>EOI – Expression Of Interest (HỆ THỐNG ĐĂNG KÝ TRỰC TUYẾN): EOI không phải là việc nộp hồ sơ chính thức, đó chỉ là thể hiện việc bạn quan tâm đến chương trình MPNP-B. Những ứng viên tiềm năng sẽ thể hiện mối quan tâm của
                                    mình trong việc điều hành doanh nghiệp và sinh sống ở Manitoba bằng cách cung cấp các thông tin về kinh nghiệm kinh doanh, tài sản, kế hoạch kinh doanh, cùng với các yếu tố khác. Chính phủ Manitoba dựa vào thang điểm
                                    đánh giá EOI của ứng và mục tiêu đề cử. Việc nộp đơn lên EOI không đảm bảo bạn sẽ được chọn để nộp hồ sơ chính thức.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <a href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">DOANH NHÂN QUEBEC <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                <p class="text-center"><b>Tên gọi chuyên môn: Significant Investor stream (subclass 188)</b></p>
                                <p class="text-center"><img class="m-auto" src="../images/doanh-nhan-quebec.jpg" alt="doanh-nhan-quebec.jpg"></p>
                                <p><i>Hạn ngạch năm 2016: 50 suất, bắt đầu từ ngày 01/04/2016 đến 31/03/2017 (đã hết suất vào tháng 5/2016)</i></p>
                                <p><b>Thể loại:</b> Chương trình doanh nhân Quebec.</p>
                                <p><b>Loại visa:</b> Thường trú nhân cho cả gia đình.</p>
                                <p><b>Văn phòng xét duyệt hồ sơ (với công dân Việt Nam)</b> Quebec.</p>
                                <p><b>Quy trình:</b> Văn phòng nhập cư Quebec thụ lý hồ sơ và cấp chứng nhận nhập cư Quebec, Canada. Sau đó, văn phòng nhập cư liên bang căn cứ theo chứng nhận để cấp visa định cư.</p>
                                <p><b>Các yêu cầu chính của chương trình</b></p>
                                <p>– Chứng minh tài chính tối thiểu 300.000 CAD, có thể bao gồm của tài sản của vợ/chồng đi cùng.</p>
                                <p>– Sở hữu tối thiểu 25% doanh nghiệp hoạt động tại Việt Nam và có ít nhất 2 năm kinh nghiệm quản lý doanh nghiệp này trong 5 năm gần nhất tính từ ngày nộp đơn.</p>
                                <p>– Thỏa một trong hai điều kiện sau đây tại thời điểm nộp đơn:</p>
                                <ul>
                                    <li>Lập dự án kinh doanh khả thi với giá trị đầu tư tối thiểu 100.000 CAD, tạo ra ít nhất 1 việc làm toàn thời gian cho người Canada đang sinh sống ở Quebec.</li>
                                    <li>Chứng minh đã mua/đã đầu tư vào một doanh nghiệp ở Quebec với trị giá tối thiểu 100.000 CAD và tạo ra ít nhất 1 việc làm toàn thời gian cho người Canada đang sinh sống ở Quebec.</li>
                                </ul>
                                <p>Trong hai hình thức chứng minh trên, dù là lập dự án hay đã đầu tư thì người đứng đơn phải chứng minh được vai trò điều hành doanh nghiệp trực tiếp của mình.</p>
                                <p>Đối với hình thức lập dự án kinh doanh thì sau 3 năm nhập cư, người đứng đơn phải chứng minh doanh nghiệp đã được lập và thỏa điều kiện trong 1 năm. Điều này có nghĩa, người đứng đơn có 2 năm để chuẩn bị và thỏa các điều
                                    kiện kèm theo.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                                <a href="#" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"> ĐẦU TƯ QUEBEC <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="card-body">
                                <p class="text-center"><img class="m-auto" src="../images/dau-tu-quebec.jpg" alt="dau-tu-quebec.jpg"></p>
                                <p><i>Mỗi năm chính phủ Quebec công bố hạn ngạch và thời gian nộp hồ sơ. Hạn ngạch từ 30/05/2016 đến 28/02/2017 là 1900 hồ sơ.</i></p>
                                <p><b>Thể loại:</b> Chương trình đầu tư Quebec.</p>
                                <p><b>Loại visa:</b> Thường trú nhân cho cả gia đình.</p>
                                <p><b>Văn phòng xét duyệt hồ sơ (với công dân Việt Nam)</b> Quebec.</p>
                                <p><b>Quy trình:</b> Văn phòng nhập cư Quebec cấp chứng nhận cho phép nhập cư vào tỉnh Quebec, Canada. Sau đó, văn phòng nhập cư liên bang căn cứ theo chứng nhận của Quebec để cấp visa định cư.</p>
                                <p><b>Điều kiện cơ bản:</b></p>
                                <ul>
                                    <li>Chứng minh sở hữu tài sản hợp pháp với tổng giá trị tương đương: 1,6 triệu CAD (của riêng đương đơn hoặc tài sản của cả hai vợ chồng đi cùng).</li>
                                    <li>Có ít nhất 2 năm kinh nghiệm quản lý doanh nghiệp trong 5 năm gần nhất kể từ ngày nộp hồ sơ.</li>
                                    <li>Cam kết đầu tư cho chính phủ Quebec 800.000 CAD khi hồ sơ được chấp thuận.</li>
                                </ul>
                                <p><b>Một số lưu ý về số tiền đầu tư cho chính phủ Quebec:</b></p>
                                <ul>
                                    <li>Khoản tiền này được đầu tư thông qua một số ngân hàng hoặc tổ chức tài chính do chính phủ Quebec chỉ định như TD Trust, Desjardins, HSBC…</li>
                                    <li>Khoản tiền đầu tư sẽ được bảo đảm hoàn trả sau 5 năm định cư tại Canada (không lãi suất).</li>
                                    <li>Số tiền này có thể được các ngân hàng (theo chỉ định của chính phủ Quebec) cho vay. Ví dụ ngân hàng Desjardins có thể cho người nhập cư diện này vay đến 620.000 CAD. Nghĩa là người nhập cư chỉ cần ứng trước 180.000
                                        CAD và ngân hàng Desjardins sẽ trả thêm 620.000 CAD để đủ 800.000 CAD theo yêu cầu của chương trình. Tuy nhiên, nếu lựa chọn hình thức này, nhà đầu tư sẽ không được hoàn lại 180.000 CAD sau 5 năm. Tóm lại, hoặc
                                        là đầu tư 800.000 CAD cho chính phủ và nhận lại sau 5 năm hoặc chịu mất 180.000 CAD ngay từ đầu và không còn ràng buộc gì với chính phủ nữa.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <h5 class="mb-0">
                                <a href="#" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">DOANH NHÂN SASKATCHEWAN <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                            </h5>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                            <div class="card-body">
                                <p class="text-center"><img class="m-auto" src="../images/doanh-nhan-saskatchewan.jpg" alt="doanh-nhan-saskatchewan.jpg"></p>
                                <p><b>Thể loại:</b> Chương trình chỉ định tỉnh Saskatchewan theo diện doanh nhân (SINP).</p>
                                <p>Sau 1 năm đầu tư tại Saskatchewan, người nộp đơn có quyền xin thẻ thường trú và tiếp tục sống với tư cách thường trú nhân thêm 2 năm là đủ điều kiện nhập tịch Canada.</p>
                                <p><b>Văn phòng xét duyệt:</b> Văn phòng nhập cư tỉnh Saskatchewan.</p>
                                <p><b>Quy trình:</b> Văn phòng nhập cư Saskatchewan chịu trách nhiệm thụ lý hồ sơ và cấp chứng nhận cho phép nhập cư Saskatchewan, Canada. Sau khi có chứng nhận nhập cư của chính quyền tỉnh, văn phòng nhập cư liên bang sẽ
                                    cấp thị thực định cư.</p>
                                <p><b>Điều kiện:</b></p>
                                <ul>
                                    <li>Tài sản ròng từ cá nhân và doanh nghiệp trị giá ít nhất 500.000 CAD.</li>
                                    <li>Có ít nhất 3 năm kinh nghiệm quản lý cấp cao hoặc kinh nghiệm kinh doanh trong 10 năm qua.</li>
                                    <li>Đầu tư ít nhất 300.000 CAD vào thành phố Regina và Saskatoon hoặc ít nhất 200.000 CAD vào các khu vực khác của Saskatchewan.</li>
                                </ul>
                                <p>– Chương trình SINP sẽ sử dụng những thông tin bạn cung cấp làm căn cứ chấm điểm và xếp hạng EOI của bạn. Ứng viên được chọn từ hệ thống EOI theo thứ tự ưu tiên từ cao đến thấp. Những ứng viên được chọn sẽ nhận thư mời
                                    nộp hồ sơ chính thức.</p>
                                <p>– Nếu được mời đăng ký chính thức, bạn phải nộp kế hoạch thành lập doanh nghiệp tương ứng với thông tin đã cung cấp trên EOI.</p>
                                <p>* EOI – Expression Of Interest (HỆ THỐNG ĐĂNG KÝ TRỰC TUYẾN): EOI không phải là việc nộp hồ sơ chính thức, đó chỉ là thể hiện việc bạn quan tâm đến chương trình SINP. Những ứng viên tiềm năng sẽ thể hiện mối quan tâm của
                                    mình trong việc điều hành doanh nghiệp và sinh sống ở Saskatchewan bằng cách cung cấp các thông tin về kinh nghiệm kinh doanh, tài sản, kế hoạch kinh doanh, cùng với các yếu tố khác. Chính phủ Saskatchewan dựa vào thang
                                    điểm đánh giá EOI của ứng và mục tiêu đề cử. Việc nộp đơn lên EOI không đảm bảo bạn sẽ được chọn để nộp hồ sơ chính thức.</p>
                                <p><b>Yêu cầu đối với ứng viên được lựa chọn:</b></p>
                                <p>Sau khi hồ sơ nhập cư diện Doanh nhân chỉ định tỉnh bang SINP của bạn được phê duyệt là đủ điều kiện đăng ký thường trú vĩnh viễn, bạn cần thực hiện các yêu cầu dưới đây:</p>
                                <p>– Thành lập một doanh nghiệp phù hợp với các yêu cầu trong Bảng tiêu chí tính điểm dành cho Diện doanh nhân.</p>
                                <p>– Sở hữu ít nhất 1/3 (33%) vốn của doanh nghiệp tại Saskatchewan (trừ khi tổng vốn đầu tư 1 triệu CAD hoặc nhiều hơn của bạn).</p>
                                <p>– Chủ động tham gia công tác quản lý và điều hành doanh nghiệp hàng ngày.</p>
                                <p>– Nếu thành lập doanh nghiệp mới tại Regina hoặc Saskatoon, bạn phải tạo ra ít nhất 2 việc làm cho người Canada hoặc thường trú nhân vĩnh viễn tại Saskatchewan (không có quan hệ họ hàng).</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingSix">
                            <h5 class="mb-0">
                                <a href="#" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">DOANH NHÂN VANCOUVER - B.C <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                            </h5>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                            <div class="card-body">
                                <p class="text-center"><img class="m-auto" src="../images/doanh-nhan-vancouver.jpg" alt="doanh-nhan-vancouver.jpg"></p>
                                <p>Chương trình hiện đã cho ra mắt hệ thống đăng ký trực tuyến bắt buộc đối với tất cả các ứng viên tiềm năng diện Doanh nhân. Việc xét duyệt sẽ dựa trên cơ sở của hệ thống tính điểm. Hệ thống sẽ giúp bạn tính toán một phần
                                    điểm số trước khi nhận được tổng điểm từ BC PNP dựa trên những thông tin cung cấp trong hồ sơ đăng ký.</p>
                                <p>Chương trình BC PNP theo định kỳ sẽ mời những ứng viên có điểm cao nhất nộp đơn chính thức. Dưới đây là các yêu cầu cơ bản của chương trình nhập cư diện Doanh nhân bang B.C.</p>
                                <p>Lưu ý: đây là visa theo diện work permit, sau khi sinh sống ở B.C và thực hiện các điều kiện cẩn thiết thì sẽ tiếp tục nộp đơn cho tỉnh bang để đạt được chỉ thị tỉnh bang (Nomination Certificate), sau đó có thể nộp đơn
                                    để được PR.</p>
                                <p>Hạn ngạch cho chương trình BC PNP: tối đa 200 đơn đăng ký mỗi tháng (lưu ý: việc nộp đơn đăng ký không có nghĩa là bạn sẽ được đảm bảo để nộp hồ sơ chính thức).</p>
                                <p><b>1. Yêu cầu chung:</b></p>
                                <p>– Ứng viên vẫn đang chủ động tham gia vào công tác điều hành quản lý doanh nghiệp hằng ngày.</p>
                                <p>– Chứng minh được ý định cư trú tại B.C.</p>
                                <p>– Ứng viên được phép nhập cảnh Canada.</p>
                                <p><b>2. Yêu cầu với cá nhân ứng viên:</b></p>
                                <p>– Tài sản ròng của cá nhân hoặc bao gồm tài sản của vợ/chồng đi theo trị giá ít nhất 600.000 CAD.</p>
                                <p>– Có kinh nghiệm quản lý hoặc sở hữu doanh nghiệp, cụ thể là có ít nhất:</p>
                                <ul>
                                    <li>3 năm kinh nghiệm trong vị trí chủ điều hành doanh nghiệp (sở hữu ít nhất 10% cổ phần trong công ty).</li>
                                    <li>4 năm kinh nghiệm trong vị trí quản lý cấp cao.</li>
                                    <li>hoặc kết hợp giữa 1 năm kinh nghiệm là chủ điều hành doanh nghiệm và 2 năm là quản lý cấp cao.</li>
                                </ul>
                                <p><b>3. Yêu cầu kinh doanh:</b></p>
                                <p>– Thành lập một doanh nghiệp mới hoặc mua và cải tiến một doanh nghiệp đã có.</p>
                                <p><b>4. Yêu cầu đầu tư:</b></p>
                                <p>– Đầu tư cá nhân tối thiểu là 200.000 CAD vào doanh nghiệp trong vòng 20 tháng sau khi đến B.C.</p>
                                <p><b>5. Yêu cầu công việc:</b></p>
                                <p>– Tạo ra ít nhất 1 việc làm toàn thời gian trong doanh nghiệp cho công dân hoặc thường trú nhân Canada.</p>
                                <p>Bạn phải chứng minh được bản thân đáp ứng đầy đủ các điều kiện nói trên của chương trình. Đơn đăng ký nhập cư diện Doanh nhân không thay thế được cho hồ sơ ứng tuyển của chương trình nhập cư diện Doanh nhân và cũng không
                                    đảm bảo rằng bạn sẽ được mời nộp đơn chính thức.</p>
                                <p>Chương trình BC PNP có thể từ chối hồ sơ nếu thông tin đăng ký của bạn khác với thông tin trong hồ sơ.</p>
                                <p><b>6. Cách tính điểm:</b></p>
                                <p>– Điểm số của ứng viên sẽ được tính dựa trên các thông tin cung cấp trong hồ sơ đăng ký trực tuyến.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mt-5">
                <div class="sidebar">
                    <div class="sidebar__title">
                        Tin di trú Canada
                    </div>
                    <div class="sidebar__content">
                        <div class="post__item mb-4">
                            <a href="#" title="Những cách tìm việc làm khi sống tại Melbourne">
                                <div class="post__img mb-2">
                                    <img src="../images/nhung-cach-tim-viec-lam-khi-song-tai-melbourne.jpg" alt="nhung-cach-tim-viec-lam-khi-song-tai-melbourne.jpg">
                                </div>
                                <div class="post__name">
                                    <h5><b>Những cách tìm việc làm khi sống tại Melbourne</b></h5>
                                </div>
                            </a>
                        </div>
                        <div class="post__item mb-4">
                            <a href="#" title="Những điều cần biết khi kinh doanh tại Úc">
                                <div class="post__img mb-2">
                                    <img src="../images/nhung-dieu-can-biet-khi-kinh-doanh-tai-uc.jpg" alt="nhung-dieu-can-biet-khi-kinh-doanh-tai-uc.jpg">
                                </div>
                                <div class="post__name">
                                    <h5><b>Những điều cần biết khi kinh doanh tại Úc</b></h5>
                                </div>
                            </a>
                        </div>
                        <div class="post__item mb-4">
                            <a href="#" title="Hệ thống giao thông ở Úc">
                                <div class="post__img mb-2">
                                    <img src="../images/he-thong-giao-thong-o-uc.jpg" alt="he-thong-giao-thong-o-uc.jpg">
                                </div>
                                <div class="post__name">
                                    <h5><b>Hệ thống giao thông ở Úc</b></h5>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}