{% extends 'layouts/application.html' %} {% block bodyClass %}class="home-page"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}
<section class="banner mb-4">
    <img class="d-none d-sm-block w-100" src="../images/canada/state/tinh-bang-british-columbia.jpg" alt="tinh-bang-british-columbia.jpg">
    <img class="d-sm-none" src="../images/canada/state/tinh-bang-british-columbia-mb.jpg" alt="tinh-bang-british-columbia-mb.jpg">
</section>
<section class="mb-5">
    <div class="container">
        <h2>CHƯƠNG TRÌNH ĐỊNH CƯ THEO DIỆN DOANH NHÂN</h2>
        <h1 class="mb-4"><b>TỈNH BANG ONTARIO</b></h1>
        <p>Ontario là tỉnh bang sôi động và phát triển bậc nhất ở Canada. Thành phố Toronto và Ottawa là hai trung tâm kinh tế của Ontario. Ontario có hơn 200 dân tộc sinh sống với hơn 130 ngôn ngữ được sử dụng. Đây là một tỉnh bang đa bản sắc được rất nhiều
            người nhập cư ưa chuộng. Ontario có một hệ thống chăm sóc sức khoẻ phổ quát được tài trợ bởi chính phủ, nằm trong Kế hoạch Bảo hiểm Y tế Ontario (OHIP). Đây cũng là tỉnh bang cung cấp những chương trình giáo dục chất lượng cao và hoàn toàn
            miễn phí cho trẻ em từ bậc tiểu học đến THPT.</p>
    </div>
</section>
<section class="benifit canada-state">
    <div class="container">
        <h2 class="border-left-4 title-mb pt-4 pl-2 mb-4"><strong>LỢI ÍCH</strong></h2>
    </div>
    <div class="benifit__wrap py-5 text-white">
        <div class="container">
            <div class="row">
                <div class="benifit__item col-12 col-md-3 my-2 text-center ">
                    <div class="benifit__icon display-4 mb-3 mb-md-5">
                        <i class="fa fa-book " aria-hidden="true"></i>
                    </div>
                    <div class="benifit__detail">
                        <h4 class="benifit__title mb-4"> <b>THỤ LÝ NHANH</b> </h4>
                        <p>Thời gian xử lý hồ sơ và có Work Permit kéo dài khoảng 12 tháng.</p>
                    </div>
                </div>
                <div class="benifit__item col-12 col-md-3 my-2 text-center ">
                    <div class="benifit__icon display-4 mb-3 mb-md-5">
                        <img src="../images/icon-business.png" alt="icon-business.png">
                    </div>
                    <div class="benifit__detail">
                        <h4 class="benifit__title mb-4"> <b>CÓ CƠ HỘI KINH DOANH THẬT SỰ TẠI ONTARIO</b> </h4>
                        <p>Các doanh nhân có cơ hội đầu tư, kinh doanh tại tỉnh bang Ontario với sự khuyến khích, hỗ trợ từ chính phủ.</p>
                    </div>
                </div>
                <div class="benifit__item col-12 col-md-3 my-2 text-center ">
                    <div class="benifit__icon display-4 mb-3 mb-md-5">
                        <img src="../images/icon-pass.png" alt="icon-pass.png">
                    </div>
                    <div class="benifit__detail">
                        <h4 class="benifit__title mb-4"> <b>CÓ KHẢ NĂNG TRỞ THÀNH THƯỜNG TRÚ NHÂN</b> </h4>
                        <p>Khi đáp ứng các điều kiện về việc kinh doanh và sinh sống tại Ontario, người đứng đơn có thể nộp hồ sơ xin cấp thẻ thường trú cho cả gia đình.</p>
                    </div>
                </div>
                <div class="benifit__item col-12 col-md-3 my-2 text-center ">
                    <div class="benifit__icon display-4 mb-3 mb-md-5">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </div>
                    <div class="benifit__detail">
                        <h4 class="benifit__title mb-4"> <b>KHÔNG KÝ QUỸ</b> </h4>
                        <p>Chương trình không yêu cầu người đứng đơn phải ký quỹ như một số chương trình định cư của tỉnh bang khác tại Canada</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="condition condition--canada-state py-3 py-md-5">
    <div class="container">
        <h2 class="border-left-4 title-mb pt-4 pl-2 mb-4"><strong>ĐIỀU KIỆN</strong></h2>
        <div class="condition__wrap row">
            <div class="col-md-6">
                <div class="condition__item d-flex bg-white mb-3">
                    <div class="condition__icon"><img src="../images/canada/state/condition-04.jpg" alt="condition-04.jpg"></div>
                    <div class="condition__content">
                        <h4><b>Học vấn</b></h4>
                        <p>Thời gian sống ở Ontario</p>
                        <p>Tối thiểu 75% trong khoản thời gian mở và vận hành doanh nghiệp.</p>
                    </div>
                </div>
                <div class="condition__item d-flex bg-white mb-3">
                    <div class="condition__icon"><img src="../images/canada/state/condition-06.jpg" alt="condition-06.jpg"></div>
                    <div class="condition__content">
                        <h4><b>Chứng minh tài chính</b></h4>
                        <p>Chứng minh sở hữu tối thiểu 1.500.000 CAD nếu dự định kinh doanh tại Greater Toronto Area (GTA) hoặc 800.000 CAD đối với khu vực ngoài GTA.
                            <br> Hoặc chứng minh sở hữu tối thiểu 800.000 CAD nếu đầu tư vào lĩnh vực Kỹ thuật Thông tin và Truyền thông/Truyền thông số (không xét đến địa điểm kinh doanh).
                        </p>
                    </div>
                </div>
                <div class="condition__item d-flex bg-white mb-3">
                    <div class="condition__icon"><img src="../images/canada/state/condition-03.jpg" alt="condition-03.jpg"></div>
                    <div class="condition__content">
                        <h4><b>Kinh nghiệm quản lý</b></h4>
                        <p>Tối thiểu 03 năm kinh nghiệm quản lý cấp cao trong 05 năm gần nhất.</p>
                    </div>
                </div>
                <div class="condition__item d-flex bg-white mb-3">
                    <div class="condition__icon"><img src="../images/canada/state/condition-09.jpg" alt="condition-09.jpg"></div>
                    <div class="condition__content">
                        <h4><b>Tham gia điều hành</b></h4>
                        <p>Đương đơn phải tham gia vào hoạt động điều hành doanh nghiệp hằng ngày.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="condition__item d-flex bg-white mb-3">
                    <div class="condition__icon"><img src="../images/canada/state/condition-02.jpg" alt="condition-02.jpg"></div>
                    <div class="condition__content">
                        <h4><b>Số tiền đầu tư</b></h4>
                        <p>Số tiền đầu tư tối thiểu 1.000.000 CAD nếu dự định kinh doanh tại GTA hoặc 500.000 CAD đối với khu vực ngoài GTA, và đạt tối thiểu 33.33% cổ phần.
                            <br> Hoặc đầu tư tối thiểu 500.000 CAD nếu đầu tư vào lĩnh vực Kỹ thuật Thông tin và Truyền thông/Truyền thông số (không xét đến địa điểm kinh doanh).
                        </p>
                    </div>
                </div>
                <div class="condition__item d-flex bg-white mb-3">
                    <div class="condition__icon"><img src="../images/canada/state/condition-11.jpg" alt="condition-08.jpg"></div>
                    <div class="condition__content">
                        <h4><b>Khảo sát</b></h4>
                        <p>Nếu dự định mua lại doanh nghiệp đang hoạt động, người đứng đơn phải đi khảo sát trong vòng 12 tháng trước thời điểm nộp hồ sơ.</p>
                    </div>
                </div>
                <div class="condition__item d-flex bg-white mb-3">
                    <div class="condition__icon"><img src="../images/canada/state/condition-07.jpg" alt="condition-07.jpg"></div>
                    <div class="condition__content">
                        <h4><b>Tạo việc làm</b></h4>
                        <p>Việc kinh doanh phải tạo ra tối thiểu 02 việc làm toàn thời gian cho thường trú nhân/công dân Canada.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h2 class="border-left-4 title-mb pt-4 pl-2 mb-4"><strong>QUY TRÌNH</strong></h2>
        <div class="text-center">
            <img src="../images/canada/state/quy-trinh-tinh-bang-ontario.jpg" alt="quy-trinh-tinh-bang-ontario.jpg">
        </div>
    </div>
</section>
{% endblock %}