{% extends 'layouts/application.html' %} {% block bodyClass %}class="home-page"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}
<div class="breadcrumb">
    <div class="container">
        <ul class="list-inline mb-0">
            <li class="list-inline-item"><a href="index.html">Trang chủ</a></li>
            <li class="list-inline-item">Tin tức Úc</li>
        </ul>
    </div>
</div>
<section class="content-wrap py-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="newstab" data-module="slider">
                    <ul class="newstab__panel tab__panel-sm">
                        <li class="newstab__item"><a href="./page-tin-tuc.html">All</a></li>
                        <li class="newstab__item"><a href="./page-tin-tuc-my.html">Mỹ</a></li>
                        <li class="newstab__item current-menu-item"><a href="./page-tin-tuc-my.html">Úc</a></li>
                        <li class="newstab__item"><a href="./page-tin-tuc-my.html">Canada</a></li>
                        <li class="newstab__item"><a href="./page-tin-tuc-my.html">Grenada</a></li>
                        <li class="newstab__item"><a href="./page-tin-tuc-my.html">Châu Âu</a></li>
                        <li class="newstab__item"><a href="./page-tin-tuc-my.html">IMM</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-sm-6 div col-md-4 blog">
                        <div class="blog-panel__item mb-4">
                            <div class="blog__top mb-3" style="background-image: url(../../images/blog-04.jpg)">
                                <a href="#" target="_blank" class="blog__link" title="Lượng người nhập cư mới chiếm đến 61% tỷ lệ tăng trưởng dân số Canada năm 2018">
                                    <strong>Lượng người nhập cư mới chiếm đến 61% tỷ lệ tăng trưởng dân số Canada năm 2018</strong>
                                </a>
                            </div>
                            <div class="blog__detail">
                                <a href="#" target="_blank" class="blog__name mb-2">
                                    <strong>Lượng người nhập cư mới chiếm đến 61% tỷ lệ tăng trưởng dân số Canada năm 2018</strong>
                                </a>
                                <p class="d-block border-bottom pb-1 text-secondary">Ngày 25/07/2019</p>
                                <div class="blog__des mt-2">
                                    Theo báo cáo thống kê mới của Canada, chính sách nhập cư vẫn tiếp tục là yếu tố chính giúp gia tăng dân số của quốc gia này. Trong
                                </div>
                                <div class="blog__more-view text-right">
                                    <a href="#" class="btn__more-view">Xem tiếp</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 div col-md-4 blog">
                        <div class="blog-panel__item mb-4">
                            <div class="blog__top mb-3" style="background-image: url(../../images/blog-03.jpg)">
                                <a href="#" target="_blank" class="blog__link" title="Dự án EB-5 Eckington Park: Cơ hội cuối lấy thẻ xanh an toàn với IMM Group">
                                    <strong>Dự án EB-5 Eckington Park: Cơ hội cuối lấy thẻ xanh an toàn với IMM Group</strong>
                                </a>
                            </div>
                            <div class="blog__detail">
                                <a href="#" target="_blank" class="blog__name mb-2">
                                    <strong>Dự án EB-5 Eckington Park: Cơ hội cuối lấy thẻ xanh an toàn với IMM Group</strong>
                                </a>
                                <p class="d-block border-bottom pb-1 text-secondary">Ngày 25/07/2019</p>
                                <div class="blog__des mt-2">
                                    Chỉ còn khoảng 3 tháng nữa luật EB-5 mới sẽ có hiệu lực. Hầu hết những dự án EB-5 tốt đều đã thông báo hết suất. Hiện IMM Group […]
                                </div>
                                <div class="blog__more-view text-right">
                                    <a href="#" class="btn__more-view">Xem tiếp</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 div col-md-4 blog">
                        <div class="blog-panel__item mb-4">
                            <div class="blog__top mb-3" style="background-image: url(../../images/blog-01.jpg)">
                                <a href="#" target="_blank" class="blog__link" title="Điều kiện lấy visa E-2 sang Mỹ: Dễ hay khó?">
                                    <strong>Điều kiện lấy visa E-2 sang Mỹ: Dễ hay khó?</strong>
                                </a>
                            </div>
                            <div class="blog__detail">
                                <a href="#" target="_blank" class="blog__name mb-2">
                                    <strong>Điều kiện lấy visa E-2 sang Mỹ: Dễ hay khó?</strong>
                                </a>
                                <p class="d-block border-bottom pb-1 text-secondary">Ngày 25/07/2019</p>
                                <div class="blog__des mt-2">
                                    “Giấc mơ Mỹ” là mong muốn của nhiều gia đình trên toàn cầu. Để thực hiện mơ ước này, mỗi năm có hàng ngàn người chọn lấy visa E-2. […]
                                </div>
                                <div class="blog__more-view text-right">
                                    <a href="#" class="btn__more-view">Xem tiếp</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 div col-md-4 blog">
                        <div class="blog-panel__item mb-4">
                            <div class="blog__top mb-3" style="background-image: url(../../images/blog-05.jpg)">
                                <a href="#" target="_blank" class="blog__link" title="5 hướng kinh doanh phổ biến cho visa đầu tư E-2">
                                    <strong>5 hướng kinh doanh phổ biến cho visa đầu tư E-2</strong>
                                </a>
                            </div>
                            <div class="blog__detail">
                                <a href="#" target="_blank" class="blog__name mb-2">
                                    <strong>5 hướng kinh doanh phổ biến cho visa đầu tư E-2</strong>
                                </a>
                                <p class="d-block border-bottom pb-1 text-secondary">Ngày 25/07/2019</p>
                                <div class="blog__des mt-2">
                                    Chính quyền của Tổng thống Donald Trump ngày càng siết chặt luật nhập cư. Trong bối cảnh đó, visa đầu tư E-2 vẫn là cánh cửa rộng mở cho […]
                                </div>
                                <div class="blog__more-view text-right">
                                    <a href="#" class="btn__more-view">Xem tiếp</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 div col-md-4 blog">
                        <div class="blog-panel__item mb-4">
                            <div class="blog__top mb-3" style="background-image: url(../../images/doanh-nhan-tai-nang.jpg)">
                                <a href="#" target="_blank" class="blog__link" title="5 hướng kinh doanh phổ biến cho visa đầu tư E-2">
                                    <strong>5 hướng kinh doanh phổ biến cho visa đầu tư E-2</strong>
                                </a>
                            </div>
                            <div class="blog__detail">
                                <a href="#" target="_blank" class="blog__name mb-2">
                                    <strong>5 hướng kinh doanh phổ biến cho visa đầu tư E-2</strong>
                                </a>
                                <p class="d-block border-bottom pb-1 text-secondary">Ngày 25/07/2019</p>
                                <div class="blog__des mt-2">
                                    Chính quyền của Tổng thống Donald Trump ngày càng siết chặt luật nhập cư. Trong bối cảnh đó, visa đầu tư E-2 vẫn là cánh cửa rộng mở cho […]
                                </div>
                                <div class="blog__more-view text-right">
                                    <a href="#" class="btn__more-view">Xem tiếp</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 div col-md-4 blog">
                        <div class="blog-panel__item mb-4">
                            <div class="blog__top mb-3" style="background-image: url(../../images/nhung-dieu-can-biet-khi-kinh-doanh-tai-uc.jpg)">
                                <a href="#" target="_blank" class="blog__link" title="5 hướng kinh doanh phổ biến cho visa đầu tư E-2">
                                    <strong>5 hướng kinh doanh phổ biến cho visa đầu tư E-2</strong>
                                </a>
                            </div>
                            <div class="blog__detail">
                                <a href="#" target="_blank" class="blog__name mb-2">
                                    <strong>5 hướng kinh doanh phổ biến cho visa đầu tư E-2</strong>
                                </a>
                                <p class="d-block border-bottom pb-1 text-secondary">Ngày 25/07/2019</p>
                                <div class="blog__des mt-2">
                                    Chính quyền của Tổng thống Donald Trump ngày càng siết chặt luật nhập cư. Trong bối cảnh đó, visa đầu tư E-2 vẫn là cánh cửa rộng mở cho […]
                                </div>
                                <div class="blog__more-view text-right">
                                    <a href="#" class="btn__more-view">Xem tiếp</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 div col-md-4 blog">
                        <div class="blog-panel__item mb-4">
                            <div class="blog__top mb-3" style="background-image: url(../../images/nha-dau-tu-doanh-nhan-co-hoi-lay-quoc-tich-thu-hai.jpg)">
                                <a href="#" target="_blank" class="blog__link" title="5 hướng kinh doanh phổ biến cho visa đầu tư E-2">
                                    <strong>5 hướng kinh doanh phổ biến cho visa đầu tư E-2</strong>
                                </a>
                            </div>
                            <div class="blog__detail">
                                <a href="#" target="_blank" class="blog__name mb-2">
                                    <strong>5 hướng kinh doanh phổ biến cho visa đầu tư E-2</strong>
                                </a>
                                <p class="d-block border-bottom pb-1 text-secondary">Ngày 25/07/2019</p>
                                <div class="blog__des mt-2">
                                    Chính quyền của Tổng thống Donald Trump ngày càng siết chặt luật nhập cư. Trong bối cảnh đó, visa đầu tư E-2 vẫn là cánh cửa rộng mở cho […]
                                </div>
                                <div class="blog__more-view text-right">
                                    <a href="#" class="btn__more-view">Xem tiếp</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 div col-md-4 blog">
                        <div class="blog-panel__item mb-4">
                            <div class="blog__top mb-3" style="background-image: url(../../images/eb5-web.jpg)">
                                <a href="#" target="_blank" class="blog__link" title="5 hướng kinh doanh phổ biến cho visa đầu tư E-2">
                                    <strong>5 hướng kinh doanh phổ biến cho visa đầu tư E-2</strong>
                                </a>
                            </div>
                            <div class="blog__detail">
                                <a href="#" target="_blank" class="blog__name mb-2">
                                    <strong>5 hướng kinh doanh phổ biến cho visa đầu tư E-2</strong>
                                </a>
                                <p class="d-block border-bottom pb-1 text-secondary">Ngày 25/07/2019</p>
                                <div class="blog__des mt-2">
                                    Chính quyền của Tổng thống Donald Trump ngày càng siết chặt luật nhập cư. Trong bối cảnh đó, visa đầu tư E-2 vẫn là cánh cửa rộng mở cho […]
                                </div>
                                <div class="blog__more-view text-right">
                                    <a href="#" class="btn__more-view">Xem tiếp</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="toolbar-bottom my-4">
                    <nav class="navigation pagination" role="navigation">
                        <h2 class="screen-reader-text"></h2>
                        <ul class="page-numbers">
                            <li><span>1</span></li>
                            <li><a href="#">2</a></li>
                            <li><span class="dots">…</span></li>
                            <li><a href="#">10</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}