{% extends 'layouts/application.html' %} {% block bodyClass %}class="home-page"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}
<section class="banner">
    <img class="d-none d-sm-block" src="../images/greek/banner-hylap.jpg" alt="banner-hylap.jpg">
    <img class="d-sm-none" src="../images/europe/dau-tu-dinh-cu-chau-au-mb.jpg" alt="dau-tu-dinh-cu-chau-au-mb.jpg">
</section>
<!-- Control bar -->
<section class="control-bar space--30 bg-default">
    <div class="container">
        <p class="m-0 py-4">
            <a href="#program">Chương trình định cư Hy Lạp</a>
            <span class="px-2 px-md-3">|</span>
            <a href="#benifit">Lợi ích</a>
            <span class="px-2 px-md-3">|</span>
            <a href="#condition">Điều kiện</a>
            <span class="px-2 px-md-3">|</span>
            <a href="#process">Quy trình</a>
            <span class="px-2 px-md-3">|</span>
            <a href="#strong">Ưu thế</a>
            <span class="px-2 px-md-3">|</span>
            <a href="#ttdc">Tiến trình định cư</a>
            <span class="px-2 px-md-3">|</span>
            <a href="#reason">Tại sao chọn Grenada?</a>
        </p>
    </div>
</section>
<!-- End control bar -->
<section class="program" id="program">
    <div class="container">
        <div class="program__wrap">
            <div class="row">
                <div class="col-md-5">
                    <h2 class="title-default-color "><b>Đầu tư - Định cư Hy Lạp được dành cho những nhà đầu tư với mong muốn:</b></h2>
                </div>
                <div class="col-md-7 mt-4 mt-md-0">
                    <ul style="list-style: decimal">
                        <li>Tự do di chuyển trong khối Schengen mà không cần visa</li>
                        <li>Di chuyển cả gia đình 3 thế hệ sang Châu Âu sinh sống</li>
                        <li>Chương trình ít rủi ro nhất</li>
                        <li>Ngân sách đầu tư hợp lý (250.000 EUR)</li>
                        <li>Quy trình đầu tư minh bạch, rõ ràng với thời gian xét duyệt chỉ trong 2-3 tháng</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Benifit -->
<section id="benifit" class="benifit greek">
    <div class="container">
        <h2 class="border-left-4 title-mb pt-4 pl-2 mb-5"><strong>LỢI ÍCH</strong></h2>
        <div class="row">
            <div class="col-sm-7">
                <div class="row">
                    <div class="col-sm-4 text-center mb-4">
                        <p class="benifit_icon">
                            <img src="../images/greek/benifit-01.png" alt="benifit-01.png">
                        </p>
                        <p>TỰ DO ĐI LẠI TRONG KHỐI SCHENGEN</p>
                    </div>
                    <div class="col-sm-4 text-center mb-4">
                        <p class="benifit_icon">
                            <img src="../images/greek/benifit-02.png" alt="benifit-02.png">
                        </p>
                        <p>THƯỜNG TRÚ NHÂN CHO CẢ 3 THẾ HỆ</p>
                    </div>
                    <div class="col-sm-4 text-center mb-4">
                        <p class="benifit_icon">
                            <img src="../images/greek/benifit-03.png" alt="benifit-03.png">
                        </p>
                        <p>TỰ DO KINH DOANH TẠI HY LẠP</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-sm-6 text-center mb-4">
                        <p class="benifit_icon">
                            <img src="../images/greek/benifit-04.png" alt="benifit-04.png">
                        </p>
                        <p>CƠ HỘI NHẬP TỊCH VÀ TRỞ THÀNH CÔNG DÂN CHÂU ÂU</p>
                    </div>
                    <div class="col-sm-6 text-center mb-4">
                        <p class="benifit_icon">
                            <img src="../images/greek/benifit-05.png" alt="benifit-05.png">
                        </p>
                        <p>KHÔNG YÊU CẦU CƯ TRÚ TẠI HY LẠP</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="condition" class="condition condition--greek py-5">
    <div class="container">
        <h2 class="border-left-4 title-mb pt-4 pl-2 mb-5"><strong>ĐIỀU KIỆN</strong></h2>
        <div class="condition__list">
            <div class="condition__item">
                <img src="../images/greek/condition-01.jpg"></div>
            <div class="condition__item">
                <div class="condition__content">
                    <h4>Có lý lịch tư pháp trong sạch</h4>
                </div>
            </div>
            <div class="condition__item">
                <img src="../images/greek/condition-02.jpg"></div>
            <div class="condition__item">
                <div class="condition__content">
                    <h4>Đầu tư mua bất động sản tối thiểu 250.000 EUR duy trì trong suốt khoảng thời gian giữ thẻ thường trú nhân</h4>
                </div>
            </div>
            <div class="condition__item">
                <img src="../images/greek/condition-03.jpg"></div>
            <div class="condition__item">
                <div class="condition__content">
                    <h4>Mua bảo hiểm y tế</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="process" class="process process__style-03 process--greek py-5">
    <div class="container">
        <h2 class="border-left-4 title-mb pt-4 pl-2 mb-5"><strong>ĐIỀU KIỆN</strong></h2>
        <div class="row process__row">
            <div class="col-md-2">
                <div class="process__step">
                    <p>Bước 1</p>
                </div>
                <div class="process__content">
                    <p>
                        Lập Kế hoạch thời gian và xin visa đi Hy Lạp
                    </p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="process__step">
                    <p>Bước 2</p>
                </div>
                <div class="process__content">
                    <p>
                        IMM Hỗ trợ khách hàng chuẩn bị hồ sơ
                    </p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="process__step">
                    <p>Bước 3</p>
                </div>
                <div class="process__content">
                    <p>
                        Đi khảo sát Hy Lạp
                    </p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="process__step">
                    <p>Bước 4</p>
                </div>
                <div class="process__content">
                    <p>
                        Trở về VN, chuyển tiền thanh toán cho bất động sản ( tiền nhà và thuế)
                    </p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="process__step">
                    <p>Bước 5</p>
                </div>
                <div class="process__content">
                    <p>
                        Luật sư được ủy quyền sẽ hoàn tất các thủ tục bất động sản.
                    </p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="process__step">
                    <p>Bước 6</p>
                </div>
                <div class="process__content">
                    <p>
                        Khi có thông báo được cấp thẻ, quay trở lại Hy Lạp để lấy sinh trắc học.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <img src="../images/greek/bg-hy-lap.jpg" alt="bg-hy-lap.jpg">
</section>
<section id="strong" class="strong py-5">
    <div class="container ">
        <div class="strong--gradient-bg">
            <h2 class="text-center mb-5"><b>ƯU THẾ CHƯƠNG TRÌNH</b> </h2>
            <div class="row">
                <div class="col-md-4 text-center">
                    <i class="fa fa-compass h1" aria-hidden="true"></i>
                    <p>Không có rủi ro, do đầu tư vào bất động sản, có quyền sử dụng để ở hoặc cho thuê</p>
                </div>
                <div class="col-md-4 text-center">
                    <i class="fa fa-clock-o h1" aria-hidden="true"></i>
                    <p>Thời gian xét duyệt nhanh chóng: 2 – 3 tháng</p>
                </div>
                <div class="col-md-4 text-center">
                    <i class="fa fa-envira h1" aria-hidden="true"></i>
                    <p>Không hạn chế độ tuổi, không yêu cầu trình độ học vấn, ngoại ngữ, kinh nghiệm quản lý</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="ttdc" class="strong py-5">
    <div class="container">
        <h2 class="border-left-4 title-mb pt-4 pl-2 mb-5"><strong>TIẾN TRÌNH ĐỊNH CƯ</strong></h2>
        <div class="row">
            <div class="col-md-4 text-center">
                <i class="fa fa-calendar h1" aria-hidden="true"></i>
                <p><b>Sinh sống tại Hy Lạp ít nhất 7 năm và nói lưu loát tiếng Hy Lạp</b></p>
            </div>
            <div class="col-md-4 text-center">
                <i class="fa fa-star h1" aria-hidden="true"></i>
                <p><b>Lý lịch tư pháp trong sạch</b></p>
            </div>
            <div class="col-md-4 text-center">
                <i class="fa fa-th-large h1" aria-hidden="true"></i>
                <p><b>Sở hữu bất động sản và giữ thẻ thường trú nhân.</b></p>
            </div>
        </div>
    </div>
</section>
<section id="reason">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="../images/greek/why-choose-hy-lap.jpg" alt="why-choose-hy-lap.jpg">
            </div>
            <div class="col-md-6">
                <p style="font-size: 1.1rem"><b>Hy Lạp là quốc gia tại Nam Âu, tiếp giáp với 3 châu lục Âu – Á – Phi, có dân số 11 triệu người. “Xứ sở thần thoại” Hy Lạp là một trong những nền văn minh rực rỡ nhất thời cổ đại, có ảnh hưởng sâu rộng đến nền văn minh quanh khu vực Địa Trung Hải. Đây là nơi ra đời của nền dân chủ, triết học phương Tây và Thế vận hội Olympic.</b></p>
                <p>Quốc gia này bao gồm rất nhiều thành phố nổi tiếng, đặc biệt là thủ đô Athens, thành phố lớn nhất Hy Lạp, cái nôi của văn minh phương Tây, nổi tiếng với các di tích khảo cổ như Acropolis, đền Parthenon, Agora cổ đại…. Ngoài ra, Hy Lạp
                    còn sở hữu nền ẩm thực vô cùng phong phú, khung cảnh thiên nhiên với núi rừng hùng vĩ, hơn 6.000 hòn đảo lớn nhỏ tuyệt đẹp, trở thành điểm đến thu hút khách du lịch hàng đầu thế giới.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}