{% extends 'layouts/application.html' %} {% block bodyClass %}class="home-page"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}
<section class="banner">
    <img class="d-none d-sm-block" src="../images/portugal/mua-bds-bo-dao-nha.jpg" alt="mua-bds-bo-dao-nha.jpg">
    <img class="d-sm-none" src="../images/portugal/mua-bds-bo-dao-nha-mb.jpg" alt="mua-bds-bo-dao-nha-mb.jpg">
</section>
<!-- Control bar -->
<section class="control-bar space--30 bg-default">
    <div class="container">
        <p class="m-0 py-4">
            <a href="#visa">Chương trình Golden Visa</a>
            <span class="px-2 px-md-3">|</span>
            <a href="#benifit">Lợi ích</a>
            <span class="px-2 px-md-3">|</span>
            <a href="#condition">Điều kiện</a>
            <span class="px-2 px-md-3">|</span>
            <a href="#project">Dự án</a>
            <span class="px-2 px-md-3">|</span>
            <a href="#process">Quy trình</a>
            <span class="px-2 px-md-3">|</span>
            <a href="#strong">Ưu thế</a>
            <span class="px-2 px-md-3">|</span>
            <a href="#ttdc">Tiến trình định cư</a>
            <span class="px-2 px-md-3">|</span>
            <a href="#reason">Tại sao chọn Bồ Đào Nha</a>
        </p>
    </div>
</section>
<!-- End control bar -->
<section class="text-center space--30" data-aos="fade-up">
    <div class="container">
        <h1 class="font-weight-bold pb-4 title-mb">ĐỊNH CƯ BỒ ĐÀO NHA</h1>
        <iframe class="m-auto" width="1000" height="562" src="https://www.youtube.com/embed/U8bNOQD4Joo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>
<section class="visa" id="visa">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5"></div>
            <div class="col-12 col-md-7" data-aos="fade-left">
                <div class="visa__wrap">
                    <h2 class="title-mb"><b>“Chi phí đầu tư hợp lý. Thời gian xúc tiến nhanh chóng, an toàn, để trở thành công dân Châu Âu.”</b></h2>
                    <p>Golden Visa chính thức được chính phủ Bồ Đào Nha giới thiệu và áp dụng từ tháng 10 năm 2012. Đây là chương trình đầu tư xin cấp thẻ thường trú tại Bồ Đào Nha dành riêng cho những công dân ngoài khối Liên minh châu Âu, với nhiều lợi
                        ích cho nhà đầu tư.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Benifit -->
<section id="benifit" class="benifit portugal pb-5 pt-2 text-white" data-aos="fade-up">
    <h2 class="text-center text-uppercase my-5"><b>Lợi ích</b></h2>
    <div class="container">
        <div class="row">
            <div class="benifit__item col-12 col-md-4 mb-4 text-center">
                <div class="benifit__icon display-4 mb-3 mb-md-5">
                    <i class="fa fa-book " aria-hidden="true"></i>
                </div>
                <div class="benifit__detail">
                    Được ra vào, sinh sống, làm việc, học tập và hưởng phúc lợi xã hội như công dân Bồ Đào Nha.
                </div>
            </div>
            <div class="benifit__item col-12 col-md-4 mb-4 text-center">
                <div class="benifit__icon display-4 mb-3 mb-md-5 ">
                    <i class="fa fa-shield" aria-hidden="true"></i>
                </div>
                <div class="benifit__detail">
                    Được đi lại tự do trong 26 quốc gia thuộc khối Schengen
                </div>
            </div>
            <div class="benifit__item col-12 col-md-4 text-center">
                <div class="benifit__icon  display-4 mb-3 mb-md-5 ">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                </div>
                <div class="benifit__detail">
                    Là cơ sở để lấy thường trú nhân vĩnh viễn và tiến xa hơn là lấy quốc tịch Bồ Đào Nha. Khi lấy quốc tịch Bồ Đào Nha, nhà đầu tư được quyền sinh sống và làm việc tại 27 nước EU.
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End benifit -->
<!-- condition -->
<section class="condition condition--portulgal block__img-style bg-img01 py-5" id="condition">
    <h1 class="main-title text-center text-uppercase">Điều kiện</h1>
    <div class="container">
        <div class="row justify-content-center">
            <div class="block__item col-12 col-md-6 col-lg-3 mb-4 mb-lg-0" data-aos="zoom-in">
                <div class="block__wrap">
                    <img src="./../images/canada/canada-condition-bg.jpg" alt="canada-condition-bg.jpg">
                    <div class="block__panel text-center text-white">
                        <div class="block__text">
                            <p>Có lý lịch tư pháp trong sạch</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block__item col-12 col-md-6 col-lg-3 mb-4 mb-lg-0" data-aos="zoom-in">
                <div class="block__wrap ">
                    <img src="./../images/portugal/condition-02.png" alt="condition-02.png">
                    <div class="block__panel text-center text-white ">
                        <div class="block__text ">
                            <p>Đầu tư mua bất động sản giá tối thiểu 500.000 EUR tại Bồ Đào Nha, duy trì bất động sản trong 5 năm</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center mt-5">
                <a href="#" class="view-project"><span>Xem dự án</span></a>
            </div>
        </div>
    </div>
</section>
<!-- end condition  -->
<!-- Process -->
<section class="process process--portugal process__style02 " id="process">
    <div class="container">
        <h1 class="text-uppercase border-left-4 mb-5 pl-3 pt-4 title-mb"><b>Quy trình</b></h1>
        <div class="process__procedure">
            <ul class="process__list-proce list-inline">
                <li>
                    <div class="box-step">
                        <h3><b>01</b></h3>
                        <p>Lập kê hoạch và xin visa đi Bồ Đào Nha</p>
                    </div>
                </li>
                <li>
                    <div class="box-step">
                        <h3><b>02</b></h3>
                        <p>Khảo sát Bồ Đào Nha <b>(Tối thiểu 7 ngày)</b></p>
                    </div>
                </li>
                <li>
                    <div class="box-step">
                        <h3><b>03</b></h3>
                        <p>Sau khi về Việt Nam, chuyển tiền để thanh toán cho bất động sản (tiền nhà và thuế nhà)</p>
                    </div>
                </li>
                <li>
                    <div class="box-step">
                        <h3><b>04</b></h3>
                        <p>Khi có thông báo được cấp thẻ, đóng phí nhận thẻ thường trú nhân và nộp hồ sơ tiếp theo cho những người phụ thuộc</p>
                    </div>
                </li>
                <li>
                    <div class="box-step">
                        <h3><b>05</b></h3>
                        <p>Đăng ký lịch hẹn phỏng vấn qua luật sư và trực tiếp đến Phòng nhập cư Bồ Đào Nha (SEF) để nộp hồ sơ xin thẻ thường trú</p>
                    </div>
                </li>
                <li>
                    <div class="box-step">
                        <h3><b>06</b></h3>
                        <p>Luật sư được ủy quyền hoàn tất công việc còn lại trong việc hỗ trợ thanh toán, nộp chứng từ, hoàn tất thủ tục bất động sản</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- end process -->
<!-- Strong  -->
<section class="strong block__img-style" id="strong" style="background-color: #e8e8e8">
    <div class="strong__title py-4" style="background: url('../images/portugal/strobg.jpg') center/cover no-repeat">
        <div class="container">
            <h2 class="text-uppercase text-white mb-0 title-mb"><b>Ưu thế của chương trình</b></h2>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center py-5">
            <div class="block__item col-12 col-md-6 col-lg-3 mb-4 mb-lg-0" data-aos="zoom-in">
                <div class="block__wrap">
                    <img src="./../images/portugal/strong-1.png" alt="strong-1.png">
                    <div class="block__panel text-center text-white">
                        <div class="block__text">
                            <p>Sở hữu doanh nghiệp / đảm nhiệm vị trí cấp cao trong ít nhất 3 năm</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block__item col-12 col-md-6 col-lg-3 mb-4 mb-lg-0" data-aos="zoom-in">
                <div class="block__wrap ">
                    <img src="./../images/portugal/strong-2.png" alt="strong-2.png">
                    <div class="block__panel text-center text-white ">
                        <div class="block__text ">
                            <p>Chứng minh trình độ tiếng anh: IELTS tối thiểu 4.0</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block__item col-12 col-md-6 col-lg-3 mb-4 mb-lg-0" data-aos="zoom-in">
                <div class="block__wrap ">
                    <img src="./../images/portugal/strong-3.png" alt="strong-3.png">
                    <div class="block__panel text-center text-white ">
                        <div class="block__text ">
                            <p>Chứng minh trình độ tiếng anh: IELTS tối thiểu 4.0</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block__item col-12 col-md-6 col-lg-3 mb-4 mb-lg-0" data-aos="zoom-in">
                <div class="block__wrap ">
                    <img src="./../images/portugal/strong-4.png" alt="strong-4.png">
                    <div class="block__panel text-center text-white ">
                        <div class="block__text ">
                            <p>Chứng minh trình độ tiếng anh: IELTS tối thiểu 4.0</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="process py-5" id="process">
    <div class="container">
        <h1 class="text-uppercase border-left-4 mb-5 pl-3 pt-4 title-mb"><b>Tiến trình định cư</b></h1>
        <div class="process__wrap">
            <img src="../images/portugal/process-portugal.png" alt="process-portugal.png">
        </div>
    </div>
</section>
<!-- reason -->
<section class="space--30">
    <h1 class="main-title text-center text-uppercase">Tại sao chọn Bồ đào nha</h1>
    <div class="container">
        <div class="row align-items-start">
            <div class="col-sm-4 mb-4">
                <img src="./../images/portugal/reason-portugal.png" alt="reason-portugal.png">
            </div>
            <div class="col-sm-8" data-aos="fade-left">
                <h4 class="font-weight-bold mb-3">Bồ Đào Nha là một quốc gia đáng định cư vì những điểm nổi trội sau:</h4>
                <ul class="list-inline">
                    <li>
                        <p><b>CHĂM SÓC SỨC KHỎE:</b></p>
                        <p class="px-3 px-md-4">Xếp thứ 12 trên thế giới về chất lượng dịch vụ y tế (Tổ chức y tế thế giới).</p>
                    </li>
                    <li>
                        <p><b>CHẤT LƯỢNG CUỘC SỐNG:</b></p>
                        <p class="px-3 px-md-4">Lisbon xếp thứ 5 trên toàn thế giới là nơi có thể sinh sống thoải mái với chi phí thấp (BBC Travel) và xếp thứ 6 trên toàn thế giới với khí hậu tuyệt vời (Tạp chí Weatherwise).</p>
                    </li>
                    <li>
                        <p><b>GIÁO DỤC:</b></p>
                        <p class="px-3 px-md-4">Universidade Catolica và Universidade Nova De Lisbon xếp thứ 23 trong 90 Đại học Kinh tế hàng đầu ở Châu Âu (European Business School Rankings 2016).</p>
                    </li>
                    <li>
                        <p><b>CƠ HỘI KINH DOANH:</b></p>
                        <p class="px-3 px-md-4">Xếp thứ 7 trong Tổ chức Hợp tác và Phát triển Kinh Tế (OECD) có các mức thuế và chi phí thấp nhất.</p>
                    </li>
                    <li>
                        <p><b>AN TOÀN:</b></p>
                        <p class="px-3 px-md-4">Xếp thứ 5 trên thế giới về mức độ an toàn (Global Peace Index 2016).</p>
                    </li>
                    <li>
                        <p><b>PHÁT TRIỂN DU LỊCH:</b></p>
                        <p class="px-3 px-md-4">Lựa chọn hàng đầu của du khách toàn cầu với lịch sử lâu đời, vẻ đẹp đương đại, các bãi biển tuyệt đẹp, ẩm thực đặc sắc và chi phí cạnh tranh.</p>
                    </li>
                    <li>
                        <p><b>CẢI TIẾN & CÔNG NGHỆ:</b></p>
                        <p class="px-3 px-md-4">Tiên phong trong lĩnh vực dịch vụ, ngân hàng, viễn thông và năng lượng tái tạo (chiếm gần 60% năng lượng sử dụng ở quốc gia này).</p>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>
<!-- end reason -->
<!-- hotline -->
{% include "modules/component/hotline.html"%}
<!-- end hotline  -->
{% endblock %}