{% extends 'layouts/application.html' %} {% block bodyClass %}class="home-page"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}
<div class="breadcrumb">
    <div class="container">
        <ul class="list-inline mb-0">
            <li class="list-inline-item"><a href="index.html">Trang chủ</a></li>
            <li class="list-inline-item"> Canada -Từ điển di trú </li>
        </ul>
    </div>
</div>
<section class="content-wrap py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h3 class="mb-4"><b>Từ điển di trú - Canada</b></h3>
                <p><b>Department of Citizenship and Immigration Canada (CIC): Bộ Quốc tịch và Nhập cư Canada</b></p>
                <p>Khái niệm chung: Là cơ quan thuộc Chính phủ Canada, phụ trách các vấn đề liên quan đến nhập cư và quốc tịch Canada.</p>
                <p><b>Canadian Permanent Resident Card (PR Card): Thẻ Thường trú nhân Canada</b></p>
                <p>Khái niệm chung: Thẻ thường trú nhân là một chiếc thẻ có kích thước nhỏ, cho phép bạn chứng minh tình trạng thường trú của mình tại Canada và sử dụng khi đi du lịch trong và ngoài nước.</p>
                <p><b>Canadian Permanent Resident Status: Tình trạng Thường trú nhân Canada</b></p>
                <p>Khái niệm chung: Thường trú nhân là công dân từ những quốc gia khác nhập cư đến Canada. Nếu đáp ứng đủ một số điều kiện nhất định, họ sẽ được chính phủ công nhận tư cách thường trú nhân (chưa phải là công dân Canada).</p>
                <p><b>Certificat de sélection du Québec (CSQ): Giấy chứng nhận lựa chọn Quebec (Canada)</b></p>
                <p>Khái niệm chung: Sau khi vượt qua vòng phỏng vấn, các ứng viên của chương trình Doanh nhân Quebec sẽ nhận được Giấy chứng nhận lựa chọn Quebec – còn được gọi là “Giấy chấp nhận đến định cư” được cấp bởi Chính phủ tỉnh bang Quebec.</p>
                <p><b>Quebec Entrepreneur Program: Chương trình doanh nhân Quebec</b></p>
                <p>Khái niệm chung: Là chương trình dựa vào kinh nghiệm điều hành doanh nghiệp của người đứng đơn, yêu cầu họ lập một dự án kinh doanh và cam kết thực hiện kế hoạch đó sau khi được cấp thị thực (khác với mô hình đầu tư vào quỹ phát triển
                    tiền tệ của chính phủ).</p>
                <p>Điều kiện cơ bản:</p>
                <p>Chứng minh tài chính tối thiểu 300.000 CAD.<br> Sở hữu tối thiểu 25% doanh nghiệp hoạt động tại Việt Nam và có ít nhất 2 năm kinh nghiệm quản lý doanh nghiệp này trong 5 năm gần nhất tính từ ngày nộp đơn. Thỏa một trong haiđiều kiện sau
                    đây tại thời điểm nộp đơn:
                    <p>– Lập dự án kinh doanh khả thi với giá trị đầu tư tối thiểu 100.000 CAD, tạo ra ít nhất 1 việc làm cho người Canada đang sinh sống ở Quebec.</p>
                    <p>– Chứng minh đã mua/đã đầu tư vào một doanh nghiệp ở Quebec với trị giá tối thiểu 100.000 CAD và tạo ra ít nhất 1 việc làm cho người Canada đang sinh sống ở Quebec.</p>
                </p>
            </div>
            <div class="col-md-3 mt-5">
                <div class="sidebar">
                    <div class="sidebar__title">
                        Tin di trú Canada
                    </div>
                    <div class="sidebar__content">
                        <div class="post__item mb-4">
                            <a href="#" title="Những cách tìm việc làm khi sống tại Melbourne">
                                <div class="post__img mb-2">
                                    <img src="../images/nhung-cach-tim-viec-lam-khi-song-tai-melbourne.jpg" alt="nhung-cach-tim-viec-lam-khi-song-tai-melbourne.jpg">
                                </div>
                                <div class="post__name">
                                    <h5><b>Những cách tìm việc làm khi sống tại Melbourne</b></h5>
                                </div>
                            </a>
                        </div>
                        <div class="post__item mb-4">
                            <a href="#" title="Những điều cần biết khi kinh doanh tại Úc">
                                <div class="post__img mb-2">
                                    <img src="../images/nhung-dieu-can-biet-khi-kinh-doanh-tai-uc.jpg" alt="nhung-dieu-can-biet-khi-kinh-doanh-tai-uc.jpg">
                                </div>
                                <div class="post__name">
                                    <h5><b>Những điều cần biết khi kinh doanh tại Úc</b></h5>
                                </div>
                            </a>
                        </div>
                        <div class="post__item mb-4">
                            <a href="#" title="Hệ thống giao thông ở Úc">
                                <div class="post__img mb-2">
                                    <img src="../images/he-thong-giao-thong-o-uc.jpg" alt="he-thong-giao-thong-o-uc.jpg">
                                </div>
                                <div class="post__name">
                                    <h5><b>Hệ thống giao thông ở Úc</b></h5>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}