{% extends 'layouts/application.html' %} {% block bodyClass %}class="home-page"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}
<div class="breadcrumb">
    <div class="container">
        <ul class="list-inline mb-0">
            <li class="list-inline-item"><a href="index.html">Trang chủ</a></li>
            <li class="list-inline-item"> Úc -Từ điển di trú </li>
        </ul>
    </div>
</div>
<section class="content-wrap py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h3 class="mb-4"><b>Từ điển di trú - Úc</b></h3>
                <p><b>Department of Immigration and Border Protection (DIBP) – Bộ Nhập cư và Bảo vệ biên giới Úc</b></p>
                <p>Khái niệm chung: Là cơ quan thuộc Chính phủ Úc, phụ trách các vấn đề liên quan đến di trú và thủ tục hải quan.</p>
                <p><b>188 Visa: Thị thực 188</b></p>
                <p>Khái niệm chung: Là thị thực tạm trú Úc có thời hạn 4 năm, được cấp cho người đứng đơn và các thành viên gia đình hợp pháp đi kèm.</p>
                <p>Thông tin thêm: Sau thời hạn 4 năm, người đứng đơn có thể gia hạn thêm 2 năm hoặc xin thị thực thường trú. Thị thực 188 gồm những diện chính là: Doanh nhân, Đầu tư và Đầu tư trọng yếu.</p>
                <p><b>888 Visa: Thị thực 888</b></p>
                <p>Khái niệm chung: Là thị thực thường trú Úc với thời hạn 5 năm.</p>
                <p>Thông tin thêm: Thị thực 888 là bước tiếp theo của thị thực 188. Tùy theo yêu cầu của thị thực 188 cho từng diện: Doanh nhân, Đầu tư hay Đầu tư trọng yếu mà khách hàng cần đáp ứng đủ điều kiện để nộp hồ sơ xin thị thực 888. Sau giai đoạn
                    888 là Quốc tịch.</p>
                <p><b>Entrepreneur – Chương trình Doanh nhân Úc</b></p>
                <p>Khái niệm chung: Là chương trình dành cho những người đã có kinh nghiệm kinh doanh, cam kết sở hữu doanh nghiệp mới hoặc doanh nghiệp đang hoạt động tại Úc.</p>
                <p>Điều kiện cơ bản:<br> Dưới 55 tuổi, đạt 65 điểm trên Thang điểm di trú và được một trong những bang của Úc bảo lãnh.<br> Tổng giá trị tài sản và vốn sở hữu trong doanh nghiệp đạt tối thiểu 800.000 AUD.<br> Trong 2 – 4 năm kể từ ngày nộp
                    đơn, doanh thu hàng năm (tối đa 2 công ty) đạt tối thiểu 500.000 AUD; phần trăm cổ phần trong công ty (cả vợ và chồng) đạt tối thiểu 51% (nếu doanh thu hàng năm đạt dưới 400.000 AUD) hoặc 10% (nếu công ty đã công khai niêm yết trên
                    sàn chứng khoán).<br> Điều kiện định cư chính thức: Doanh nhân có visa 188 có thể nộp đơn xin định cư chính thức sau ít nhất 2 năm nếu sở hữu doanh nghiệp và đáp ứng đủ điều kiện của visa 888.
                </p>
                <p>
                    Quyền lợi:<br> Các phúc lợi xã hội tương tự như người bản xứ: miễn học phí từ tiểu học đến hết THPT cho con cái.<br> Duy trì song song hai quốc tịch.<br> Bảo lãnh người thân sau khi đã sinh sống ở Úc một thời gian.
                </p>
                <p><b>Investor – Chương trình Đầu tư Úc</b></p>
                <p>Khái niệm chung: Là chương trình dành cho những người có hoạt động đầu tư thích hợp hoặc sở hữu doanh nghiệp đang có thành tích kinh doanh tốt. Người đứng đơn cam kết đầu tư cho tỉnh bang mà họ được bảo lãnh và duy trì hoạt động đầu tư
                    trong suốt 4 năm kể từ ngày nộp đơn.</p>
                <p>Điều kiện dành cho người đứng đơn:<br> Dưới 55 tuổi, đạt tối thiểu 65 điểm theo Thang điểm di trú.<br> Có tối thiểu 3 năm kinh nghiệm quản lý, được một trong các bang ở Úc bảo lãnh.<br> 2 năm trước ngày nộp đơn, giá trị tài sản (của vợ/chồng)
                    phải đạt tối thiểu 2.250.000 AUD.<br> 1 trong 5 năm trước ngày nộp đơn, người đứng đơn phải trực tiếp quản lý doanh nghiệp. Sở hữu tài sản trong công ty đạt tối thiểu 10% trên tổng giá trị tài sản hoặc trực tiếp quản lý các nguồn đầu
                    tư hợp pháp với giá trị tối thiểu 1.500.000 AUD.<br> Đầu tư 1.500.000 AUD vào trái phiếu chính phủ (được tỉnh bang đảm bảo) khi có quyết định cấp thị thực.<br> Điều kiện định cư chính thức: Có ít nhất 2 năm sinh sống ở Úc và việc đầu
                    tư 1.500.000 AUD vẫn được duy trì liên tục suốt 4 năm.<br>
                </p>
                <p>Quyền lợi:<br> Các phúc lợi xã hội của Chính phủ Úc.<br> Trẻ em được miễn học phí từ tiểu học đến hết PTTH, đi và về Việt Nam bất cứ lúc nào.<br> Sau 1 năm định cư chính thức, nhà đầu tư có cơ hội nhập tịch Úc cho cả gia đình.<br>
                </p>
                <p><b>Visa Entitlement Verification Online system (VEVO) – Hệ thống xác minh thị thực trực tuyến</b></p>
                <p>Khái niệm chung: Là hệ thống trực tuyến lưu trữ thông tin, ngày cấp và thời hạn visa của người dùng để dễ dàng truy cập, xác minh hoặc kiểm tra chi tiết thông tin về thị thực hiện tại cũng như các điều kiện áp dụng.</p>
                <p>Thông tin thêm: Người dùng cũng có thể truy cập VEVO qua ứng dụng di động, cho phép họ gửi email chi tiết về quyền lợi của mình đến bất kỳ địa chỉ email nào họ muốn. Nếu được người dùng cho phép, VEVO có thể cung cấp cho các tổ chức một
                    lượng thông tin giới hạn về điều kiện thị thực và ý nghĩa của chúng. Các thông tin này được dùng để kiểm tra xem liệu đối tượng có làm việc, thực hiện các hoạt động khác ở Úc hay không. Những thông tin chi tiết gửi đến người dùng vẫn
                    không bị lộ.</p>
                <p class="text-right"><b>IMM Immigration</b></p>
            </div>
            <div class="col-md-3 mt-5">
                <div class="sidebar">
                    <div class="sidebar__title">
                        Tin di trú Úc
                    </div>
                    <div class="sidebar__content">
                        <div class="post__item mb-4">
                            <a href="#" title="Những cách tìm việc làm khi sống tại Melbourne">
                                <div class="post__img mb-2">
                                    <img src="../images/nhung-cach-tim-viec-lam-khi-song-tai-melbourne.jpg" alt="nhung-cach-tim-viec-lam-khi-song-tai-melbourne.jpg">
                                </div>
                                <div class="post__name">
                                    <h5><b>Những cách tìm việc làm khi sống tại Melbourne</b></h5>
                                </div>
                            </a>
                        </div>
                        <div class="post__item mb-4">
                            <a href="#" title="Những điều cần biết khi kinh doanh tại Úc">
                                <div class="post__img mb-2">
                                    <img src="../images/nhung-dieu-can-biet-khi-kinh-doanh-tai-uc.jpg" alt="nhung-dieu-can-biet-khi-kinh-doanh-tai-uc.jpg">
                                </div>
                                <div class="post__name">
                                    <h5><b>Những điều cần biết khi kinh doanh tại Úc</b></h5>
                                </div>
                            </a>
                        </div>
                        <div class="post__item mb-4">
                            <a href="#" title="Hệ thống giao thông ở Úc">
                                <div class="post__img mb-2">
                                    <img src="../images/he-thong-giao-thong-o-uc.jpg" alt="he-thong-giao-thong-o-uc.jpg">
                                </div>
                                <div class="post__name">
                                    <h5><b>Hệ thống giao thông ở Úc</b></h5>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}