{% extends 'layouts/application.html' %} {% block bodyClass %}class="home-page"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}
<div class="breadcrumb">
    <div class="container">
        <ul class="list-inline mb-0">
            <li class="list-inline-item"><a href="index.html">Trang chủ</a></li>
            <li class="list-inline-item">Chuyên Mục "Ưu Đãi"</li>
        </ul>
    </div>
</div>
<section class="content-wrap py-5">
    <div class="container">
        <div class="single-blog mb-5">
            <div class="row">
                <div class="col-md-6 blog__img">
                    <a href="#" title="Tọa đàm Đầu tư EB-5 cùng trung tâm vùng lâu năm nhất, 80% tổng hoàn vốn cả chương trình EB-5">
                        <img src="../images/eb5-web.jpg" alt="eb5-web.jpg">
                    </a>
                </div>
                <div class="col-md-6 blog__info">
                    <a href="#" class="blog-title">
                        <h4 class="mb-3"><b>Tọa đàm Đầu tư EB-5 cùng trung tâm vùng lâu năm nhất, 80% tổng hoàn vốn cả chương trình EB-5</b> </h4>
                    </a>
                    <p class="blog__time"><i class="fa fa-calendar text-danger" aria-hidden="true"></i> 26/11/2018</p>
                    <p class="blog__des">Phát triển dự án ở 30 thị trường, 7 quốc gia, 4 châu lục, danh mục đầu tư BĐS trị giá 86 tỷ USD</p>
                    <p><a href="#" class="blog__view"><b>Xem thêm</b></a></p>
                </div>
            </div>
        </div>
        <div class="single-blog mb-5">
            <div class="row">
                <div class="col-md-6 blog__img">
                    <a href="#" title="Những điều cần biết về đầu tư định cư Ireland">
                        <img src="../images/top-universities-located-in-ireland-trinity-college-dublin.jpg" alt="top-universities-located-in-ireland-trinity-college-dublin.jpg">
                    </a>
                </div>
                <div class="col-md-6 blog__info">
                    <a href="#" class="blog-title">
                        <h4 class="mb-3"><b>Những điều cần biết về đầu tư định cư Ireland</b> </h4>
                    </a>
                    <p class="blog__time"><i class="fa fa-calendar text-danger" aria-hidden="true"></i> 12/11/2018</p>
                    <p class="blog__des">LỢI ÍCH KHI SỞ HỮU THƯỜNG TRÚ NHÂN IRELAND ĐẤT NƯỚC –CUỘC SỐNG TẠI IRELAND ĐẦU TƯ ĐỊNHCƯ IRELAND LỢI ÍCH KHI SỞ HỮU THƯỜNG TRÚ NHÂN IRELAND 01 Ưu […]</p>
                    <p><a href="#" class="blog__view"><b>Xem thêm</b></a></p>
                </div>
            </div>
        </div>
        <div class="single-blog mb-5">
            <div class="row">
                <div class="col-md-6 blog__img">
                    <a href="#" title="Thuế Mỹ dành cho nhà đầu tư">
                        <img src="../images/thue-my-cho-nha-dau-tu.jpg" alt="thue-my-cho-nha-dau-tu.jpg">
                    </a>
                </div>
                <div class="col-md-6 blog__info">
                    <a href="#" class="blog-title">
                        <h4 class="mb-3"><b>Thuế Mỹ dành cho nhà đầu tư</b> </h4>
                    </a>
                    <p class="blog__time"><i class="fa fa-calendar text-danger" aria-hidden="true"></i> 26/11/2018</p>
                    <p class="blog__des">Đối tượng cần khai thuế? Nhà đầu tư nên khai báo gì trong tờ khai thuế? Mức thuế là bao nhiêu? Lưu ý về thuế đối với quà tặng từ […]</p>
                    <p><a href="#" class="blog__view"><b>Xem thêm</b></a></p>
                </div>
            </div>
        </div>
        <div class="single-blog mb-5">
            <div class="row">
                <div class="col-md-6 blog__img">
                    <a href="#" title="Đầu tư định cư Châu Âu – Đa dạng Lựa chọn & Hình thức cho gia đình Việt">
                        <img src="../images/dau-tu-dinh-cu-chau-au.jpg" alt="dau-tu-dinh-cu-chau-au.jpg">
                    </a>
                </div>
                <div class="col-md-6 blog__info">
                    <a href="#" class="blog-title">
                        <h4 class="mb-3"><b>Đầu tư định cư Châu Âu – Đa dạng Lựa chọn & Hình thức cho gia đình Việt</b> </h4>
                    </a>
                    <p class="blog__time"><i class="fa fa-calendar text-danger" aria-hidden="true"></i> 26/11/2018</p>
                    <p class="blog__des">Đầu tư Định cư Châu Âu Đa dạng Lựa chọn & Hình thức cho gia đình Việt Với sức mạnh của hệ thống kinh tế, hạ tầng, an sinh xã […]</p>
                    <p><a href="#" class="blog__view"><b>Xem thêm</b></a></p>
                </div>
            </div>
        </div>
        <div class="single-blog mb-5">
            <div class="row">
                <div class="col-md-6 blog__img">
                    <a href="#" title="Nhà đầu tư doanh nhân & cơ hội lấy quốc tịch thứ hai">
                        <img src="../images/nha-dau-tu-doanh-nhan-co-hoi-lay-quoc-tich-thu-hai.jpg" alt="nha-dau-tu-doanh-nhan-co-hoi-lay-quoc-tich-thu-hai.jpg.jpg">
                    </a>
                </div>
                <div class="col-md-6 blog__info">
                    <a href="#" class="blog-title">
                        <h4 class="mb-3"><b>Nhà đầu tư doanh nhân & cơ hội lấy quốc tịch thứ hai</b> </h4>
                    </a>
                    <p class="blog__time"><i class="fa fa-calendar text-danger" aria-hidden="true"></i> 26/11/2018</p>
                    <p class="blog__des">Với kinh nghiệm 13 năm tiên phong tại Việt Nam về lĩnh vực đầu tư – định cư nước ngoài, IMM hân hạnh giới thiệu Chương trình Lấy quốc tịch […]</p>
                    <p><a href="#" class="blog__view"><b>Xem thêm</b></a></p>
                </div>
            </div>
        </div>
        <div class="single-blog mb-5">
            <div class="row">
                <div class="col-md-6 blog__img">
                    <a href="#" title="Đầu tư EB-5 cùng trung tâm vùng lớn & lâu đời nhất Hoa Kỳ">
                        <img src="../images/du-an-eb-5-an-toan.jpg" alt="du-an-eb-5-an-toan.jpg">
                    </a>
                </div>
                <div class="col-md-6 blog__info">
                    <a href="#" class="blog-title">
                        <h4 class="mb-3"><b>Đầu tư EB-5 cùng trung tâm vùng lớn & lâu đời nhất Hoa Kỳ</b> </h4>
                    </a>
                    <p class="blog__time"><i class="fa fa-calendar text-danger" aria-hidden="true"></i> 26/11/2018</p>
                    <p class="blog__des">Phát triển dự án ở 30 thị trường, 7 quốc gia, 4 châu lục, danh mục đầu tư BĐS trị giá 86 tỷ USD</p>
                    <p><a href="#" class="blog__view"><b>Xem thêm</b></a></p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}