{% extends 'layouts/application.html' %} {% block bodyClass %}class="home-page"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}
<div class="breadcrumb">
    <div class="container">
        <ul class="list-inline mb-0">
            <li class="list-inline-item"><a href="index.html">Trang chủ</a></li>
            <li class="list-inline-item">Các diện đầu tư định cư theo tỉnh bang Canada</li>
        </ul>
    </div>
</div>
<section class="content-wrap py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h3 class="mb-4"><b>Từ điển di trú - Bồ Đào Nha</b></h3>
                <p><b>Đang cập nhật...</b></p>
            </div>
            <div class="col-md-3 mt-5">
                <div class="sidebar">
                    <div class="sidebar__title">
                        Tin di trú Bồ Đào Nha
                    </div>
                    <div class="sidebar__content">
                        <div class="post__item mb-4">
                            <a href="#" title="Những cách tìm việc làm khi sống tại Melbourne">
                                <div class="post__img mb-2">
                                    <img src="../images/nhung-cach-tim-viec-lam-khi-song-tai-melbourne.jpg" alt="nhung-cach-tim-viec-lam-khi-song-tai-melbourne.jpg">
                                </div>
                                <div class="post__name">
                                    <h5><b>Những cách tìm việc làm khi sống tại Melbourne</b></h5>
                                </div>
                            </a>
                        </div>
                        <div class="post__item mb-4">
                            <a href="#" title="Những điều cần biết khi kinh doanh tại Úc">
                                <div class="post__img mb-2">
                                    <img src="../images/nhung-dieu-can-biet-khi-kinh-doanh-tai-uc.jpg" alt="nhung-dieu-can-biet-khi-kinh-doanh-tai-uc.jpg">
                                </div>
                                <div class="post__name">
                                    <h5><b>Những điều cần biết khi kinh doanh tại Úc</b></h5>
                                </div>
                            </a>
                        </div>
                        <div class="post__item mb-4">
                            <a href="#" title="Hệ thống giao thông ở Úc">
                                <div class="post__img mb-2">
                                    <img src="../images/he-thong-giao-thong-o-uc.jpg" alt="he-thong-giao-thong-o-uc.jpg">
                                </div>
                                <div class="post__name">
                                    <h5><b>Hệ thống giao thông ở Úc</b></h5>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}