{% extends 'layouts/application.html' %} {% block bodyClass %}class="home-page"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}
<section class="banner mb-4">
    <img class="d-none d-sm-block w-100" src="../images/canada/state/tinh-bang-nova-scotia.jpg" alt="tinh-bang-nova-scotia.jpg">
    <img class="d-sm-none" src="../images/canada/state/tinh-bang-nova-scotia-mb.jpg" alt="dau-tu-dinh-cu-chau-au-mb.jpg">
</section>
<section class="mb-5">
    <div class="container">
        <h2>CHƯƠNG TRÌNH ĐỀ CỬ</h2>
        <h1 class="mb-4"><b>TỈNH BANG NOVA SCOTIA</b></h1>
        <p>Là chương trình cấp Work Permit của tỉnh bang, cho phép người đứng đơn và các thành viên trong gia đình sinh sống và kinh doanh tại tỉnh bang NS. Sau khi hoàn thành cam kết với tỉnh bang, người đứng đơn có thể xin thường trú nhân cho cả gia đình</p>
    </div>
</section>
<section class="benifit canada-state">
    <div class="container">
        <h2 class="border-left-4 title-mb pt-4 pl-2 mb-4"><strong>LỢI ÍCH</strong></h2>
    </div>
    <div class="benifit__wrap py-5 text-white">
        <div class="container">
            <div class="row">
                <div class="benifit__item col-12 col-md-3 mb-4 text-center ">
                    <div class="benifit__icon display-4 mb-3 mb-md-5">
                        <i class="fa fa-book " aria-hidden="true"></i>
                    </div>
                    <div class="benifit__detail">
                        <h4 class="benifit__title mb-4"> <b>THỤ LÝ NHANH</b> </h4>
                        <p>Thời gian xử lý hồ sơ và có Work Permit kéo dài khoảng 12 tháng.</p>
                    </div>
                </div>
                <div class="benifit__item col-12 col-md-3 mb-4 text-center ">
                    <div class="benifit__icon display-4 mb-3 mb-md-5">
                        <img src="../images/icon-business.png" alt="icon-business.png">
                    </div>
                    <div class="benifit__detail">
                        <h4 class="benifit__title mb-4"> <b>CÓ CƠ HỘI KINH DOANH THẬT SỰ TẠI NOVA SCOTIA</b> </h4>
                        <p>Các doanh nhân có cơ hội đầu tư, kinh doanh tại tỉnh bang NS với sự khuyến khích, hỗ trợ từ chính phủ.</p>
                    </div>
                </div>
                <div class="benifit__item col-12 col-md-3 mb-4 text-center ">
                    <div class="benifit__icon display-4 mb-3 mb-md-5">
                        <img src="../images/icon-pass.png" alt="icon-pass.png">
                    </div>
                    <div class="benifit__detail">
                        <h4 class="benifit__title mb-4"> <b>CÓ KHẢ NĂNG TRỞ THÀNH THƯỜNG TRÚ NHÂN</b> </h4>
                        <p>Khi đáp ứng các điều kiện về việc kinh doanh và sinh sống tại NS, người đứng đơn có thể nộp hồ sơ xin cấp thẻ thường trú cho cả gia đình.</p>
                    </div>
                </div>
                <div class="benifit__item col-12 col-md-3 mb-4 text-center ">
                    <div class="benifit__icon display-4 mb-3 mb-md-5">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </div>
                    <div class="benifit__detail">
                        <h4 class="benifit__title mb-4"> <b>KHÔNG KÝ QUỸ</b> </h4>
                        <p>Chương trình không yêu cầu người đứng đơn phải ký quỹ như một số chương trình định cư của tỉnh bang khác tại Canada</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="condition condition--canada-state py-3 py-md-5">
    <div class="container">
        <h2 class="border-left-4 title-mb pt-4 pl-2 mb-4"><strong>ĐIỀU KIỆN</strong></h2>
        <div class="condition__wrap row">
            <div class="col-md-6">
                <div class="condition__item d-flex bg-white mb-3">
                    <div class="condition__icon"><img src="../images/canada/state/condition-01.jpg" alt="condition-01.jpg"></div>
                    <div class="condition__content">
                        <h4><b>Ngoại ngữ</b></h4>
                        <p>Tối thiểu IELTS General 5.0</p>
                    </div>
                </div>
                <div class="condition__item d-flex bg-white mb-3">
                    <div class="condition__icon"><img src="../images/canada/state/condition-02.jpg" alt="condition-02.jpg"></div>
                    <div class="condition__content">
                        <h4><b>Chứng minh tài chính</b></h4>
                        <p>Tối thiểu 600.000CAD</p>
                    </div>
                </div>
                <div class="condition__item d-flex bg-white mb-3">
                    <div class="condition__icon"><img src="../images/canada/state/condition-03.jpg" alt="condition-03.jpg"></div>
                    <div class="condition__content">
                        <h4><b>Kinh nghiệm quản lý</b></h4>
                        <p>Tối thiểu 3 năm sở hữu Doanh nghiệp và trực tiếp điều hành hoặc tối thiểu 5 năm kinh nghiệm quản lý cấp cao</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="condition__item d-flex bg-white mb-3">
                    <div class="condition__icon"><img src="../images/canada/state/condition-04.jpg" alt="condition-04.jpg"></div>
                    <div class="condition__content">
                        <h4><b>Độ tuổi</b></h4>
                        <p>21 tuổi trở lên</p>
                    </div>
                </div>
                <div class="condition__item d-flex bg-white mb-3">
                    <div class="condition__icon"><img src="../images/canada/state/condition-05.jpg" alt="condition-05.jpg"></div>
                    <div class="condition__content">
                        <h4><b>Học vấn tối thiểu</b></h4>
                        <p>THPT trở lên</p>
                    </div>
                </div>
                <div class="condition__item d-flex bg-white">
                    <div class="condition__icon"><img src="../images/canada/state/condition-06.jpg" alt="condition-06.jpg"></div>
                    <div class="condition__content">
                        <h4><b>Dự án kinh doanh</b></h4>
                        <p>Tối thiểu 150.000CAD</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h2 class="border-left-4 title-mb pt-4 pl-2 mb-4"><strong>QUY TRÌNH</strong></h2>
        <div class="text-center">
            <img src="../images/canada/state/quy-trinh-tinh-bang-nova-scotia.jpg" alt="quy-trinh-tinh-bang-nova-scotia.jpg">
        </div>
    </div>
</section>
<!-- End -->
{% endblock %}