{% extends 'layouts/application.html' %} {% block bodyClass %}class="home-page"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}
<section class="banner">
    <img class="d-none d-sm-block" src="../images/montenegro/banner-montenegro.jpg" alt="banner-montenegro.jpg">
    <img class="d-sm-none" src="../images/montenegro/banner-montenegro.jpg" alt="banner-montenegro.jpg">
</section>
<!-- Control bar -->
<section class="control-bar space--30 bg-default">
    <div class="container">
        <p class="m-0 py-4">
            <a href="#overview" data-id="overview">Tổng quan chương trình</a>
            <span class="px-2 px-md-3">|</span>
            <a href="#benifit" data-id="benifit">Lợi ích</a>
            <span class="px-2 px-md-3">|</span>
            <a href="#condition" data-id="condition">Điều kiện</a>
            <span class="px-2 px-md-3">|</span>
            <a href="#process" data-id="process">Quy trình</a>
            <span class="px-2 px-md-3">|</span>
            <a href="#reason" data-id="reason">Tại sao chọn Grenada?</a>
        </p>
    </div>
</section>
<!-- End control bar -->
<!-- Overview -->
<section class="overview py-5" id="overview">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="../images/montenegro/gioi-thieu-montenegro.png" alt="gioi-thieu-montenegro.png">
            </div>
            <div class="col-md-6">
                <h2 class="overview__title special-title">TỔNG QUAN CHƯƠNG TRÌNH</h2>
                <P>
                    Điểm thu hút lớn nhất đến nhà đầu tư là một khi có quốc tịch vĩnh viễn Montenegro, nhà đầu tư và cả gia đình sẽ có quốc tịch châu Âu vào năm 2025, và đủ điều kiện để tham gia lấy visa Mỹ với đầy đủ đặc quyền của công dân Mỹ.<br> Đây
                    là một chương trình mới nhất từ Chính phủ Montenegro và Việt Nam là một trong những quốc gia đầu tiên tiếp cận cơ hội này. Với việc đầu tư vào bất động sản được Chính phủ Montenegro chỉ định, cộng với có tốc độ phát triển kinh tế dựa
                    vào du lịch nhanh nhất Châu Âu, nhà đầu tư Việt vừa có tấm hộ chiếu quyền lực cho gia đình và tài sản sinh lợi cùng một lúc.
                </P>
                <div id="overview_grenada" class="collapse in" aria-expanded="true">
                    Để nhận tấm hộ chiếu quyền lực Montenegro, nhà đầu tư vấn thực hiện khoản đầu tư trị giá 100,000 EUR (~2,7 tỷ VND) cho Chính phủ dưới hình thức trao tặng. Đồng thời đầu tư vào một dự án bất động sản do Chính phủ chỉ định với hai lựa chọn:<br>
                    <ul>
                        <li>Đầu tư 250,000 EUR vào một dự án bất động sản được phê duyệt trong một khu vực chưa phát triển nằm ở phía Bắc.</li>
                        <li>Hoặc đầu tư 450,000 EUR vào dự án bất động sản được phê duyệt trong khu vực phát triển ở phía Nam.</li>
                    </ul>
                    Đây là chương trình đầu tư đầy tiềm năng nhất với độ an toàn cao. Đối tác chiến lược của IMM Group, ông Milos Stojanovic, Phó Chủ tịch Hội đồng quản trị Arton Capital, cũng chính là người có quyền phê chuẩn bước đầu Hồ sơ của từng nhà đầu tư vào Montenegro.
                </div>
                <p class="text-right">
                    <a href="#!" class="overview__btn" data-toggle="collapse" data-target="#overview_grenada" aria-expanded="true">
                        <span>Xem thêm    ►</span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End overview -->
<section class="py-5" style="background: url('../images/bulgaria/bg-video-bulgaria.png') 0 0/cover">
    <div class="container">
        <iframe class="d-block m-auto" width="1000" height="562" src="https://www.youtube.com/embed/uZv-KtQal_U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>
<!-- Benifit -->
<section class="benifit benifit__style-01 montenego  py-5" id="benifit">
    <div class="container">
        <div class="benifit__main-title text-center mb-5">
            <h2 class="main-special-title">LỢI ÍCH TỪ CHƯƠNG TRÌNH</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text-uppercase text-white text-center mb-5 benifit__sub-text"><b>TẤM HỘ CHIẾU QUYỀN LỰC (QUỐC TỊCH CHÂU ÂU VÀ VISA MỸ) VỚI MỨC ĐẦU TƯ RẺ NHẤT THỊ TRƯỜNG & SỞ HỮU BẤT ĐỘNG SẢN SINH LỢI TẠI MONTENEGRO</b></p>
            </div>
        </div>
        <div class="row justify-content-center justify-content-lg-start">
            <div class="col-md-6">
                <div class="benifit__item row mb-4">
                    <div class="benifit_icon col-4 text-center">
                        <img src="./../images/bulgaria/icon-bulgaria-04.png" alt="icon-bulgaria-01.png">
                    </div>
                    <div class="benifit__text col-8 text-white text-justify pt-5">
                        Nhận thường trú nhân <b>CHO CẢ GIA ĐÌNH VÀ CÁC THẾ HỆ KẾ THỪA</b> sau 3 tuần và quốc tịch sau 6 tháng
                    </div>
                </div>
                <div class="benifit__item row mb-4">
                    <div class="benifit_icon col-4 text-center">
                        <img src="./../images/montenegro/icon-montenegro-01.png" alt="icon-montenegro-01.png">
                    </div>
                    <div class="benifit__text col-8 text-white text-justify pt-5">
                        Sau khi có quốc tịch Montenegro, nhà đầu tư có đủ điều kiện để tham gia lấy visa Mỹ với đầy đủ đặc quyền của công dân Mỹ
                    </div>
                </div>
                <div class="benifit__item row mb-4">
                    <div class="benifit_icon col-4 text-center">
                        <img src="./../images/montenegro/icon-montenegro-02.png" alt="icon-montenegro-02.png">
                    </div>
                    <div class="benifit__text col-8 text-white text-justify pt-5">
                        Montenegro cho phép công dân có đa quốc tịch
                    </div>
                </div>
                <div class="benifit__item row mb-4">
                    <div class="benifit_icon col-4 text-center">
                        <img src="./../images/montenegro/icon-montenegro-03.png" alt="icon-montenegro-03.png">
                    </div>
                    <div class="benifit__text col-8 text-white text-justify pt-5">
                        Đất nước Montenegro có vị trí đắc địa nằm ngay giữa châu Âu, thuận tiện cho cả gia đình du lịch, đi lại, kinh doanh
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="benifit__item row mb-4">
                    <div class="benifit_icon col-4 text-center">
                        <img src="./../images/bulgaria/icon-bulgaria-01.png" alt="icon-bulgaria-01.png">
                    </div>
                    <div class="benifit__text col-8 text-white text-justify pt-5">
                        Tự động trở thành công dân châu Âu sau khi Montenegro gia nhập Liên minh châu Âu năm 2025
                    </div>
                </div>
                <div class="benifit__item row mb-4">
                    <div class="benifit_icon col-4 text-center">
                        <img src="./../images/montenegro/icon-montenegro-05.png" alt="icon-montenegro-05.png">
                    </div>
                    <div class="benifit__text col-8 text-white text-justify pt-5">
                        Chương trình đầu tư vào bất động sản sinh lợi được Chính phủ chỉ định. Độ an toàn cao và khả năng sinh lợi có sẵn. (*)
                    </div>
                </div>
                <div class="benifit__item row mb-4">
                    <div class="benifit_icon col-4 text-center">
                        <img src="./../images/bulgaria/icon-bulgaria-06.png" alt="icon-bulgaria-06.png">
                    </div>
                    <div class="benifit_text col-8 text-white text-justify pt-5">
                        <b>Không yêu cầu </b> về ngoại ngữ, trình độ học vấn hay kinh nghiệm quản lý.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Benifit -->
<!-- Condition -->
<section class="condition condition--montenegro shadow-top " id="condition">
    <div class="container">
        <div class="condition__wrap">
            <div class="condition__main-title text-center mb-5">
                <h2 class="main-special-title">ĐIỀU KIỆN</h2>
            </div>
            <div class="row condition__row first justify-content-center">
                <div class="condition__col col-sm-6 col-md-4">
                    <div class="condition__item">
                        <div class="condition__text">
                            <p>Không phải là công dân thuộc khối Liên minh châu Âu (các nước EU)</p>
                        </div>
                        <div class="condition__number"><span>1</span></div>
                    </div>
                </div>
                <div class="condition__col col-sm-6 col-md-4">
                    <div class="condition__item">
                        <div class="condition__text">
                            <p>Sở hữu hộ chiếu có hiệu lực hoặc các giấy tờ đi lại nước ngoài thay thế khác</p>
                        </div>
                        <div class="condition__number"><span>2</span></div>
                    </div>
                </div>
                <div class="condition__col col-sm-6 col-md-4">
                    <div class="condition__item">
                        <div class="condition__text">
                            <p>Cung cấp tất cả các tài liệu và thông tin cần thiết theo chương trình</p>
                        </div>
                        <div class="condition__number"><span>3</span></div>
                    </div>
                </div>
                <div class="condition__col col-sm-6 col-md-4">
                    <div class="condition__item">
                        <div class="condition__text">
                            <p>Không có tiền án tiền sự</p>
                        </div>
                        <div class="condition__number"><span>4</span></div>
                    </div>
                </div>
                <div class="condition__col col-sm-6 col-md-4">
                    <div class="condition__item">
                        <div class="condition__text">
                            <p>Hồ sơ được nộp qua đại lý được cấp phép bởi chính phủ theo chương trình.</p>
                        </div>
                        <div class="condition__number"><span>5</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End condition -->
<!-- Process -->
<section class="process process__style-01" id="process">
    <div class="container">
        <div class="process__main-title">
            <h2>QUY TRÌNH</h2>
            <p class="process__sub-title"><em>(*) Thời gian trong () được tính kể từ thời gian bắt đầu chuẩn bị và nộp hồ sơ</em></p>
        </div>
    </div>
    <div class="row process__bg no-gutters pb-5 pb-md-0">
        <div class="col-md-4 process__item">
            <div class="row mr-0">
                <div class="col-sm-3 col-2">
                    <img src="../images/number-procedure-01.png" alt="number-procedure-01.png">
                </div>
                <div class="col-sm-9 col-10 process__item-child">
                    <h3>THẨM ĐỊNH (1 - 2 tháng)*</h3>
                    <ul class="process__list display-list">
                        <li>Chuẩn bị và nộp hồ sơ</li>
                        <li>Chuẩn bị lệ phí đầy đủ cần nộp</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 process__item">
            <div class="row mr-0">
                <div class="col-sm-3 col-2">
                    <img src="../images/number-procedure-02.png" alt="number-procedure-02.png">
                </div>
                <div class="col-sm-9 col-10 process__item-child">
                    <h3>PHÊ DUYỆT TRƯỚC (2 - 5 tháng)*</h3>
                    <ul class="process__list display-list">
                        <li>Bộ hồ sơ sẽ được gửi đến đại lý được ủy quyền bởi chính phủ để đảm bảo tuân thủ qui định. Thời điểm này, quá trình thẩm định và xác minh lý lịch được thực hiện.</li>
                        <li>Quyết định chính thức được đưa ra. Khi bộ hồ sơ được chấp thuận, đương đơn sẽ được yêu cầu thức hiện khoản trao tặng chính phủ và khoản đầu tư bất động sản theo yêu cầu</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 process__item">
            <div class="row mr-0">
                <div class="col-sm-3 col-2">
                    <img src="../images/number-procedure-03.png" alt="number-procedure-03.png">
                </div>
                <div class="col-sm-9 col-10 process__item-child">
                    <h3>NHẬP TỊCH (6 tháng)*</h3>
                    <ul class="process__list display-list">
                        <li>Thực hiện chuyến đi đến Montenegro để nộp đơn xin cư trú và lấy sinh trắc học. Đơn xin nhập tịch cũng sẽ được nộp trong chuyến đi này.</li>
                        <li>Nhận chứng nhận Nhập tịch. Làm thủ tục cần thiết và nhận hộ chiếu</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End process -->
<section class="reason reason--montenegro" id="reason">
    <div class="reason__container">
        <div class="row">
            <div class="col-12 reason__title text-center">
                <img src="../images/montenegro/title-montenegro.png" alt="title-montenegro.png">
            </div>
            <div class="col-12 col-md-4 col-lg-6"></div>
            <div class="col-12 col-md-8 col-lg-6">
                <div class="reason__list ">
                    <ul class="display-list text-white">
                        <li>Montenegro có vị trí địa lý đặc biệt – trái tim của châu Âu</li>
                        <li>Thời tiết đặc biệt phong phú khi người dân có thể trượt tuyết trên những sườn núi Balkan kỳ vĩ và tận hưởng những bãi biển đẹp mê hồn chỉ trong cùng 1 ngày</li>
                        <li>Montenegro là địa điểm du lịch nổi tiếng trên toàn thế giới, dành cho giới thương lưu toàn cầu</li>
                        <li>Là thành viên của các tổ chức NATO, WHO …</li>
                        <li>Bến cảng Montenegro là một trong những bến cảng đẹp nhất hành tinh</li>
                        <li>Luôn nằm trong top những địa điểm nhất định phải đặt chân tới</li>
                        <li>Nền kinh tế phát triển nhanh nhất tại châu Âu</li>
                        <li>Doanh thu ngành du lich đạt hơn 1 tỷ USD/năm</li>
                        <li>Tốc độ tăng trưởng ngành Du lịch đạt 10% (2018)</li>
                        <li>Thị trường bất động sản sôi động và hấp dẫn</li>
                        <li>Thuế suất 9% (cho cả doanh nghiệp và cá nhân)</li>
                    </ul>
                    <div class="register__wrap text-center text-md-right">
                        <a href="#register" class="register-btn">ĐĂNG KÝ TƯ VẤN</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="nation">
    <div class="nation__title text-center text-white py-5">
        <div class="container">
            <h3 class="mb-0"><strong>DANH SÁCH 120 QUỐC GIA ĐƯỢC MIỄN VISA (THỊ THỰC) BẰNG HỘ CHIẾU MONTENEGRO</strong></h3>
        </div>
    </div>
    <div class="container mb-3 mb-md-5">
        <ul class="list-inline list-flag pt-5 pb-3">
            <li class="list-flag__item text-center">
                <img class="mb-2" src="../images/national-flag/flag-thuy-dien.png" alt="flag-thuy-dien.png">
                <p>Thủy điển</p>
            </li>
            <li class="list-flag__item text-center">
                <img class="mb-2" vvvv src="../images/national-flag/flag-duc.png" alt="flag-duc.png">
                <p>Đức</p>
            </li>
            <li class="list-flag__item text-center">
                <img class="mb-2" src="../images/national-flag/flag-phap.png" alt="flag-phap.png">
                <p>Pháp</p>
            </li>
            <li class="list-flag__item text-center">
                <img class="mb-2" src="../images/national-flag/flag-phan-lan.png" alt="flag-phan-lan.png">
                <p>Phần Lan</p>
            </li>
            <li class="list-flag__item text-center">
                <img class="mb-2" src="../images/national-flag/flag-thuy-si.png" alt="flag-thuy-si.png">
                <p>Thụy Sĩ</p>
            </li>

            <li class="list-flag__item text-center">
                <img class="mb-2" src="../images/national-flag/flag-iceland.png" alt="flag-iceland.png">
                <p>Iceland</p>
            </li>
            <li class="list-flag__item text-center">
                <img class="mb-2" src="../images/national-flag/flag-bi.png" alt="flag-bi.png">
                <p>Bỉ</p>
            </li>
        </ul>
        <p class="text-center mb-0"><em>Xem đầy đủ quyền đi lại của Hộ chiếu Bulgaria tại đây</em></p>
        <p class="text-center"><em><a class="text-danger" href="https://www.passportindex.org/comparebyPassport.php?p1=bg&fl=&s=yes">https://www.passportindex.org/comparebyPassport.php?p1=bg&fl=&s=yes</a></em></p>
    </div>
</section>
{% endblock %}