{% extends 'layouts/application.html' %} {% block bodyClass %}class="home-page"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}
<section class="banner">
    <img class="d-none d-sm-block" src="../images/grenada/banner-grenada.jpg" alt="banner-grenada.jpg">
    <img class="d-sm-none" src="../images/grenada/banner-grenada-mb.jpg" alt="banner-grenada-mb.jpg">
</section>
<!-- Control bar -->
<section class="control-bar space--30 bg-default">
    <div class="container">
        <p class="m-0 py-4">
            <a href="#overview">Tổng quan chương trình</a>
            <span class="px-2 px-md-3">|</span>
            <a href="#benifit">Lợi ích</a>
            <span class="px-2 px-md-3">|</span>
            <a href="#condition">Điều kiện</a>
            <span class="px-2 px-md-3">|</span>
            <a href="#process">Quy trình</a>
            <span class="px-2 px-md-3">|</span>
            <a href="#reason">Tại sao chọn Grenada?</a>
        </p>
    </div>
</section>
<!-- End control bar -->
<!-- Overview -->
<section class="overview py-5" id="overview">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="../images/grenada/overview-grenada.png" alt="overview-grenada.png">
            </div>
            <div class="col-md-6">
                <h2 class="overview__title special-title">TỔNG QUAN CHƯƠNG TRÌNH</h2>
                <P>
                    Chương trình đầu tư nhập tịch Grenada là lựa chọn tốt và tiết kiệm dành cho khách hàng muốn tự do đi lại 128 quốc gia. Cùng với Montenegro, Grenada là một trong các chương trình ít ỏi cho phép nhà đầu tư được xin visa với đặc quyền đặc lợi của công dân
                    Mỹ. Với khoản đầu tư khoảng 6 tỷ đồng vào dự án sinh lợi, nhà đầu tư còn có khả năng sở hữu thêm tài sản ở nước ngoài cho các kế hoạch dự phòng. Ngoài ra, mức phí thật sự mà nhà đầu tư bỏ ra là 50,000 USD cho gia đình 4 người (tương
                    đương khoảng 1,2 tỷ đồng) khiến Grenada là một trong các chương trình nhập tịch đi lại nhiều nước và rẻ nhất trên thị trường.
                </P>
                <div id="overview_grenada" class="collapse in" aria-expanded="true">
                    <p>Theo luật, chương trình đầu tư định cư Grenada là chương trình cấp quốc tịch cho người nước ngoài theo hình thức trao tặng 50,000 USD (~ 1,2 tỷ VND) cho Chính phủ và đầu tư vào một dự án bất động sản mà chính phủ phê duyệt.</p>
                    <p>Sau khi thỏa mãn các điều kiện và chuyển khoản thành công toàn bộ số tiền quyên góp cho chính phủ cùng lúc với khoản tiền đầu tư vào bất động sản, nhà đầu tư (đương đơn) và gia đình sẽ nhận được Quốc tịch Grenada sau thời gian từ 4-6
                        tháng kể từ thời điểm chính thức tham gia chương trình đầu tư này.</p>
                </div>
                <p class="text-right">
                    <a href="#!" class="overview__btn" data-toggle="collapse" data-target="#overview_grenada" aria-expanded="true">
                        <span>Xem thêm    ►</span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End overview -->
<!-- Benifit -->
<section class="benifit grenada py-5" id="benifit">
    <div class="container">
        <div class="benifit__main-title text-center mb-5">
            <h2 class="main-special-title">LỢI ÍCH TỪ CHƯƠNG TRÌNH</h2>
        </div>
        <div class="row justify-content-center justify-content-lg-start">
            <div class="col-md-12 col-lg-7 mb-5 mb-lg-0">
                <div class="row">
                    <div class="benifit__item col-md-4 mb-5 mb-md-0 text-center">
                        <div class="benifit__icon text-center pb-4 mb-3">
                            <img src="./../images/grenada/benefit-grenada-01.png" alt="benefit-grenada-01.png">
                        </div>
                        <div class="benifit__text text-white text-justify">
                            Quy trình thụ lý hồ sơ nhanh chóng chỉ trong vòng <strong>4 tháng lấy ngay QUỐC TỊCH.</strong>
                        </div>
                    </div>
                    <div class="benifit__item col-md-4 mb-5 mb-md-0 text-center">
                        <div class="benifit__icon text-center pb-4 mb-3">
                            <img src="./../images/grenada/benefit-grenada-02.png" alt="benefit-grenada-01.png">
                        </div>
                        <div class="benifit__text text-white text-justify">
                            Chấp thuận nhập tịch cho con cái (phụ thuộc) chưa kết hôn dưới 30 tuổi và cha mẹ (phụ thuộc) từ 55 tuổi trở lên của đương đơn.
                        </div>
                    </div>
                    <div class="benifit__item  col-md-4 mb-5 mb-md-0 text-center">
                        <div class="benifit__icon text-center pb-4 mb-3">
                            <img src="./../images/grenada/benefit-grenada-03.png" alt="benefit-grenada-01.png">
                        </div>
                        <div class="benifit__text text-white text-justify">
                            Tự do đi lại với quyền miễn thị thực lên tới 128 quốc gia, bao gồm khu vực Schengen và Trung Quốc.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-5">
                <div class="row">
                    <div class="benifit__item  col-md-6 mb-5 mb-md-0 text-center">
                        <div class="benifit__icon text-center pb-4 mb-3">
                            <img src="./../images/grenada/benefit-grenada-04.png" alt="benefit-grenada-01.png">
                        </div>
                        <div class="benifit__text text-white text-justify">
                            Sau khi có quốc tịch Grenada, nhà đầu tư có đủ điều kiện để tham gia lấy visa Mỹ với đầy đủ đặc quyền của công dân Mỹ
                        </div>
                    </div>
                    <div class="benifit__item  col-md-6 mb-5 mb-md-0 text-center">
                        <div class="benifit__icon text-center pb-4 mb-3">
                            <img src="./../images/grenada/benefit-grenada-05.png" alt="benefit-grenada-01.png">
                        </div>
                        <div class="benifit__text text-white text-justify">
                            Không cần phỏng vấn, không yêu cầu về học vấn hoặc kinh nghiệm quản lý như các chương trình nhập tịch khác.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Benifit -->
<!-- Condition -->
<section class="condition condition--grenada shadow-top" id="condition">
    <div class="container">
        <div class="condition__main-title text-center mb-5">
            <h2 class="main-special-title">ĐIỀU KIỆN</h2>
        </div>
        <div class="row">
            <div class="col-md-5 col-lg-4 offset-lg-1">
                <div class="condition__item">
                    <div class="condition__number-proviso">1</div>
                    Không phạm tội cũng như có tiền án tiền sự</div>
            </div>
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-5 col-lg-4">
                <div class="condition__item">
                    <div class="condition__number-proviso">2</div>
                    Có sức khỏe tốt</div>
            </div>
        </div>
        <div class="row text-center my-5">
            <a href="#register" class="register-btn">ĐĂNG KÝ TƯ VẤN</a>
        </div>
    </div>
</section>
<!-- End condition -->
<!-- Process -->
<section class="process process__style-01" id="process">
    <div class="container">
        <div class="process__main-title">
            <h2>QUY TRÌNH</h2>
            <p><em>(*) Thời gian trong () được tính kể từ thời gian bắt đầu chuẩn bị và nộp hồ sơ</em></p>
        </div>
    </div>
    <div class="row process__bg no-gutters pb-5 pb-md-0">
        <div class="col-md-4 process__item">
            <div class="row mr-0">
                <div class="col-sm-3 col-2">
                    <img src="../images/number-procedure-01.png" alt="number-procedure-01.png">
                </div>
                <div class="col-sm-9 col-10 process__item-child">
                    <h3>THẨM ĐỊNH (1 tháng)*</h3>
                    <ul class="process__list display-list">
                        <li>Chuẩn bị và nộp hồ sơ cho toàn gia đình tham gia chương trình.</li>
                        <li>Thẩm định hồ sơ bởi đơn vị được chính phủ ủy quyền cũng như hoàn thành các bước thẩm định khác.</li>
                        <li>Chuyển khoản 10% số tiền đầu tư cho chủ của dự án bất động sản đã được phê duyệt bởi chính phủ.</li>
                        <li>Các chi phí nộp hồ sơ sẽ được nộp trong giai đoạn này.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 process__item">
            <div class="row mr-0">
                <div class="col-sm-3 col-2">
                    <img src="../images/number-procedure-02.png" alt="number-procedure-02.png">
                </div>
                <div class="col-sm-9 col-10 process__item-child">
                    <h3>PHÊ DUYỆT TRƯỚC (2 tháng)*</h3>
                    <ul class="process__list display-list">
                        <li>Phê duyệt hồ sơ bởi chính phủ Grenada</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 process__item">
            <div class="row mr-0">
                <div class="col-sm-3 col-2">
                    <img src="../images/number-procedure-03.png" alt="number-procedure-03.png">
                </div>
                <div class="col-sm-9 col-10 process__item-child">
                    <h3>NHẬP TỊCH (4 - 6 tháng)*</h3>
                    <ul class="process__list display-list">
                        <li>Nộp hồ sơ Thường trú nhân</li>
                        <li>Nộp hồ sơ Nhập tịch</li>
                        <li>Lấy quyết định Nhập tịch. Làm thủ tục cần thiết và nhận hộ chiếu</li>
                        <li>Thanh toán 90% số tiền phải đầu tư còn lại cho chủ dự án bất động sản</li>
                        <li>Thực hiện khoản trao tặng chính phủ</li>
                        <li>Nhận hộ chiếu Grenada</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End process -->
<section class="reason reason--grenada" id="reason">
    <div class="container">
        <div class="reason__container">
            <div class="row">
                <div class="col-9 col-md-6">
                    <img src="../images/grenada/title-grenada.png" alt="title-grenada.png">
                </div>
                <div class="col-3 col-md-6 text-right">
                    <img src="../images/grenada/map-grenada.png" alt="map-grenada.png">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <ul class="reason__list display-list">
                        <li>Quốc đảo an toàn nhất tại khu vực Caribbean khi gần như không chịu những thiên tai.</li>
                        <li>Grenada sở hữu những bãi biển và khu nghỉ dưỡng đẹp nhất thế giới.</li>
                        <li>Những nhà hàng tuyệt vời cùng lịch trình những lễ hội đặc sắc mang đậm chất văn hóa của nước này cũng là một điểm kéo chân du khách đến với nơi đây.</li>
                        <li>Tự do đi lại với quyền miễn thị thực lên tới 128 quốc gia, bao gồm khu vực Schengen và Trung Quốc</li>
                        <li>Miễn thuế đối với các nguồn thu Quốc tế</li>
                        <li>Không yêu cầu cư trú tại Grenada</li>
                    </ul>
                </div>
            </div>
            <div class="row text-center text-md-right py-3">
                <a href="#register" class="register-btn m-auto mr-md-0">ĐĂNG KÝ TƯ VẤN</a>
            </div>
        </div>
    </div>
</section>
<section class="nation">
    <div class="nation__title text-center text-white py-5">
        <div class="container">
            <h3 class="mb-0"><strong>DANH SÁCH 128 QUỐC GIA ĐƯỢC MIỄN VISA (THỊ THỰC) BẰNG HỘ CHIẾU GRENADA</strong></h3>
        </div>
    </div>
    <div class="container mb-3 mb-md-5">
        <ul class="list-inline list-flag pt-5 pb-3">
            <li class="list-flag__item text-center">
                <img class="mb-2" src="../images/national-flag/flag-thuy-dien.png" alt="flag-thuy-dien.png">
                <p>Thủy điển</p>
            </li>
            <li class="list-flag__item text-center">
                <img class="mb-2" vvvv src="../images/national-flag/flag-duc.png" alt="flag-duc.png">
                <p>Đức</p>
            </li>
            <li class="list-flag__item text-center">
                <img class="mb-2" src="../images/national-flag/flag-phap.png" alt="flag-phap.png">
                <p>Pháp</p>
            </li>
            <li class="list-flag__item text-center">
                <img class="mb-2" src="../images/national-flag/flag-phan-lan.png" alt="flag-phan-lan.png">
                <p>Phần Lan</p>
            </li>
            <li class="list-flag__item text-center">
                <img class="mb-2" src="../images/national-flag/flag-thuy-si.png" alt="flag-thuy-si.png">
                <p>Thụy Sĩ</p>
            </li>
            <li class="list-flag__item text-center">
                <img class="mb-2" src="../images/national-flag/flag-iceland.png" alt="flag-iceland.png">
                <p>Iceland</p>
            </li>
            <li class="list-flag__item text-center">
                <img class="mb-2" src="../images/national-flag/flag-bi.png" alt="flag-bi.png">
                <p>Bỉ</p>
            </li>
        </ul>
        <p class="text-center mb-0"><em>Xem đầy đủ quyền đi lại của Hộ chiếu Grenada tại đây</em></p>
        <p class="text-center"><em><a class="text-danger" href="https://www.passportindex.org/comparebyPassport.php?p1=gd&fl=&s=yes">https://www.passportindex.org/comparebyPassport.php?p1=gd&fl=&s=yes</a></em></p>
    </div>
</section>
{% endblock %}