{% extends 'layouts/application.html' %} {% block bodyClass %}class="home-page"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}
<div class="breadcrumb">
    <div class="container">
        <ul class="list-inline mb-0">
            <li class="list-inline-item"><a href="index.html">Trang chủ</a></li>
            <li class="list-inline-item">Liên hệ</li>
        </ul>
    </div>
</div>
<div class="container py-4 py-md-5">
    <p class="text-center">
        <h2 class="text-center title-style-02 title-mb h1"><b>LIÊN HỆ TƯ VẤN</b></h2>
    </p>
    <p class="text-center"><b>Các văn phòng của IMM Group</b></p>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row border">
                    <div class="col-md-6 border">
                        <div class="content-advisory p-3 p-lg-5">
                            <h3 class="h5 font-weight-bold mb-1">HỒ CHÍ MINH</h3>
                            <p class="m-0">Tòa nhà IMM Group, 99 Nguyễn Đình Chiểu,<br>Quận 3, TP. HỒ CHÍ MINH<br>Tel: (028) 730 72 777<br>Email: info@imm.group</p>
                        </div>
                    </div>
                    <div class="col-md-6 border">
                        <div class="content-advisory p-3 p-lg-5">
                            <h3 class="h5 font-weight-bold mb-1">HÀ NỘI</h3>
                            <p class="m-0">Tầng 10 East, Lotte Center, 54 Liễu Giai,<br>Quận Ba Đình, Hà Nội<br>Tel: (028) 730 72 777<br>Email: info@imm.group</p>
                        </div>
                    </div>
                    <div class="col-md-6 border">
                        <div class="content-advisory p-3 p-lg-5">
                            <h3 class="h5 font-weight-bold mb-1">MỸ</h3>
                            <p class="m-0">17310 Red Hill Ave., Suite 335, Irvine, CA 92614<br>Office tel: 949.910.0503<br>Fax: 949.502.0746<br>Email: info@imm.group</p>
                        </div>
                    </div>
                    <div class="col-md-6 border">
                        <div class="content-advisory p-3 p-lg-5">
                            <h3 class="h5 font-weight-bold mb-1">ÚC</h3>
                            <p class="m-0">Office: Suite 1, Level 4, 37-41 Prospect street,<br>Box Hill VIC 3128, Australia<br>Email: info@imm.group</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}