{% extends 'layouts/application.html' %} {% block bodyClass %}class="home-page"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}
<section class="banner mb-4">
    <img class="d-none d-sm-block w-100" src="../images/canada/state/tinh-bang-saskatchewan.jpg" alt="tinh-bang-saskatchewan.jpg">
    <img class="d-sm-none" src="../images/canada/state/tinh-bang-saskatchewan-mb.jpg" alt="tinh-bang-saskatchewan-mb.jpg">
</section>
<section class="mb-5">
    <div class="container">
        <h2>CHƯƠNG TRÌNH ĐỊNH CƯ THEO DIỆN DOANH NHÂN</h2>
        <h1 class="mb-4"><b>TỈNH BANG SASKATCHEWAN</b></h1>
        <p>Saskatchewan là một tỉnh bang phía Tây của Canada và là tỉnh bang có tỷ lệ thất nghiệp thấp nhất Canada. Thu nhập trung bình của một gia đình ở đây khoảng 80.000 CAD, cao hơn mức mặt bằng chung ở Canada. Chi phí nhà ở của Saskatchewan ở mức thấp
            nhất ở Canada, cộng thêm các nguồn tài nguyên thiên nhiên giúp giảm chi phí năng lượng. Saskatchewan có truyền thống tổ chức các chương trình hỗ trợ xã hội do chính phủ tài trợ nhằm góp phần duy trì mức sống cao cho mọi cư dân trong tỉnh.
            Người sáng lập ra những chương trình này là cựu Thủ tướng của Saskatchewan, Tommy Douglas, người được xem là cha đẻ của chính sách miễn phí y tế tại Canada. Saskatchewan cung cấp một hệ thống giáo dục miễn phí từ mẫu giáo đến lớp 12 thông
            qua hệ thống trường công của mình.</p>
    </div>
</section>
<section class="benifit canada-state">
    <div class="container">
        <h2 class="border-left-4 title-mb pt-4 pl-2 mb-4"><strong>LỢI ÍCH</strong></h2>
    </div>
    <div class="benifit__wrap py-5 text-white">
        <div class="container">
            <div class="row">
                <div class="benifit__item col-12 col-md-3 mb-4 text-center ">
                    <div class="benifit__icon display-4 mb-3 mb-md-5">
                        <i class="fa fa-book " aria-hidden="true"></i>
                    </div>
                    <div class="benifit__detail">
                        <h4 class="benifit__title mb-4"> <b>THỤ LÝ NHANH</b> </h4>
                        <p>Thời gian xử lý hồ sơ và có Work Permit kéo dài khoảng 12 tháng.</p>
                    </div>
                </div>
                <div class="benifit__item col-12 col-md-3 mb-4 text-center ">
                    <div class="benifit__icon display-4 mb-3 mb-md-5">
                        <img src="../images/icon-business.png" alt="icon-business.png">
                    </div>
                    <div class="benifit__detail">
                        <h4 class="benifit__title mb-4"> <b>CÓ CƠ HỘI KINH DOANH THẬT SỰ TẠI SASKATCHEWAN</b> </h4>
                        <p>Các doanh nhân có cơ hội đầu tư, kinh doanh tại tỉnh bang Saskatchewan với sự khuyến khích, hỗ trợ từ chính phủ.</p>
                    </div>
                </div>
                <div class="benifit__item col-12 col-md-3 mb-4 text-center ">
                    <div class="benifit__icon display-4 mb-3 mb-md-5">
                        <img src="../images/icon-pass.png" alt="icon-pass.png">
                    </div>
                    <div class="benifit__detail">
                        <h4 class="benifit__title mb-4"> <b>CÓ KHẢ NĂNG TRỞ THÀNH THƯỜNG TRÚ NHÂN</b> </h4>
                        <p>Khi đáp ứng các điều kiện về việc kinh doanh và sinh sống tại Saskatchetwan, người đứng đơn có thể nộp hồ sơ xin cấp thẻ thường trú cho cả gia đình.</p>
                    </div>
                </div>
                <div class="benifit__item col-12 col-md-3 mb-4 text-center ">
                    <div class="benifit__icon display-4 mb-3 mb-md-5">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </div>
                    <div class="benifit__detail">
                        <h4 class="benifit__title mb-4"> <b>KHÔNG KÝ QUỸ</b> </h4>
                        <p>Chương trình không yêu cầu người đứng đơn phải ký quỹ như một số chương trình định cư của tỉnh bang khác tại Canada</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="condition condition--canada-state py-3 py-md-5">
    <div class="container">
        <h2 class="border-left-4 title-mb pt-4 pl-2 mb-4"><strong>ĐIỀU KIỆN</strong></h2>
        <div class="condition__wrap row">
            <div class="col-md-6">
                <div class="condition__item d-flex bg-white mb-3">
                    <div class="condition__icon"><img src="../images/canada/state/condition-06.jpg" alt="condition-06.jpg"></div>
                    <div class="condition__content">
                        <h4><b>Chứng minh tài chính</b></h4>
                        <p>Chứng minh sở hữu tối thiểu 500.000 CAD. Tài sản phải được đánh giá bởi tổ chức được chỉ định</p>
                    </div>
                </div>
                <div class="condition__item d-flex bg-white mb-3">
                    <div class="condition__icon"><img src="../images/canada/state/condition-03.jpg" alt="condition-03.jpg"></div>
                    <div class="condition__content">
                        <h4><b>Kinh nghiệm quản lý</b></h4>
                        <p>Có tối thiểu 03 năm kinh nghiệm quản lý trong 10 năm gần nhất</p>
                    </div>
                </div>
                <div class="condition__item d-flex bg-white mb-3">
                    <div class="condition__icon"><img src="../images/canada/state/condition-02.jpg" alt="condition-02.jpg"></div>
                    <div class="condition__content">
                        <h4><b>Số tiền đầu tư</b></h4>
                        <p>Số tiền đầu tư tối thiểu 300.000 CAD nếu đầu tư tại Regina và Saskatoon. Tối thiểu 200.000 CAD tại các khu vực khác</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="condition__item d-flex bg-white mb-3">
                    <div class="condition__icon"><img src="../images/canada/state/condition-07.jpg" alt="condition-07.jpg"></div>
                    <div class="condition__content">
                        <h4><b>Tạo việc làm</b></h4>
                        <p>Hoạt động kinh doanh phải tạo ra tối thiểu 02 việc làm toàn thời gian cho thường trú nhân/công dân Canada (không có mối quan hệ với người đứng đơn). Áp dụng cho các doanh nghiệp mới được thành lập tại Saskatoon và Regina</p>
                    </div>
                </div>
                <div class="condition__item d-flex bg-white mb-3">
                    <div class="condition__icon"><img src="../images/canada/state/condition-08.jpg" alt="condition-08.jpg"></div>
                    <div class="condition__content">
                        <h4><b>Tỉ lệ sở hữu</b></h4>
                        <p>Người đứng đơn phải sở hữu tối thiểu 33% vốn của doanh nghiệp hoặc đầu tư tối thiểu 1.000.000 CAD vào một doanh nghiệp tại Saskatchewan</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h2 class="border-left-4 title-mb pt-4 pl-2 mb-4"><strong>QUY TRÌNH</strong></h2>
        <div class="text-center">
            <img src="../images/canada/state/quy-trinh-tinh-bang-saskachewan.jpg" alt="quy-trinh-tinh-bang-saskachewan.jpg">
        </div>
    </div>
</section>
{% endblock %}