{% extends 'layouts/application.html' %} {% block bodyClass %}class="home-page"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}
<section class="banner mb-4">
    <img class="d-none d-sm-block w-100" src="../images/canada/state/tinh-bang-british-columbia.jpg" alt="tinh-bang-british-columbia.jpg">
    <img class="d-sm-none" src="../images/canada/state/tinh-bang-british-columbia-mb.jpg" alt="tinh-bang-british-columbia-mb.jpg">
</section>
<section class="mb-5">
    <div class="container">
        <h2>CHƯƠNG TRÌNH ĐỊNH CƯ THEO DIỆN DOANH NHÂN</h2>
        <h1 class="mb-4"><b>TỈNH BANG BRITISH COLUMBIA (BC)</b></h1>
        <p>British Columbia nằm ở cực Tây Canada. Thủ phủ của British Columbia là Victoria và thành phố lớn nhất là Vancouver. British Columbia nổi tiếng với cảnh quan thiên nhiên tuyệt đẹp, những bãi biển hùng vĩ, những thung lũng xanh xen kẽ những hồ nước
            tự nhiên. Tỉnh bang này có một nền văn hóa đa dạng với hơn 40 nền văn hóa hòa trộn cùng nhau. Ở đây có dân cư đến từ các quốc gia châu Á (Trung Quốc, Nhật Bản, Việt Nam…) và các quốc gia phương Tây (Đức, Ý, Nga…). Theo kế hoạch, từ năm 2011
            đến năm 2021, British Columbia sẽ tạo ra hơn một triệu việc làm trong tỉnh. Cơ hội tìm kiếm việc làm ở đây rất rộng mở, dù cho người nhập cư hay người chỉ sống trong một thời gian ngắn. Định cư tại British Columbia, nhà đầu tư được tận hưởng
            tiêu chuẩn khám chữa bệnh miễn phí, con cái được miễn học phí hoàn toàn từ bậc tiểu học đến THPT.</p>
    </div>
</section>
<section class="benifit canada-state">
    <div class="container">
        <h2 class="border-left-4 title-mb pt-4 pl-2 mb-4"><strong>LỢI ÍCH</strong></h2>
    </div>
    <div class="benifit__wrap py-5 text-white">
        <div class="container">
            <div class="row">
                <div class="benifit__item col-12 col-md-3 mb-4 text-center ">
                    <div class="benifit__icon display-4 mb-3 mb-md-5">
                        <i class="fa fa-book " aria-hidden="true"></i>
                    </div>
                    <div class="benifit__detail">
                        <h4 class="benifit__title mb-4"> <b>THỤ LÝ NHANH</b> </h4>
                        <p>Thời gian xử lý hồ sơ và có Work Permit kéo dài khoảng 12 tháng.</p>
                    </div>
                </div>
                <div class="benifit__item col-12 col-md-3 mb-4 text-center ">
                    <div class="benifit__icon display-4 mb-3 mb-md-5">
                        <img src="../images/icon-business.png" alt="icon-business.png">
                    </div>
                    <div class="benifit__detail">
                        <h4 class="benifit__title mb-4"> <b>CÓ CƠ HỘI KINH DOANH THẬT SỰ TẠI BC</b> </h4>
                        <p>Các doanh nhân có cơ hội đầu tư, kinh doanh tại tỉnh bang BC với sự khuyến khích, hỗ trợ từ chính phủ.</p>
                    </div>
                </div>
                <div class="benifit__item col-12 col-md-3 mb-4 text-center ">
                    <div class="benifit__icon display-4 mb-3 mb-md-5">
                        <img src="../images/icon-pass.png" alt="icon-pass.png">
                    </div>
                    <div class="benifit__detail">
                        <h4 class="benifit__title mb-4"> <b>CÓ KHẢ NĂNG TRỞ THÀNH THƯỜNG TRÚ NHÂN</b> </h4>
                        <p>Khi đáp ứng các điều kiện về việc kinh doanh và sinh sống tại BC, người đứng đơn có thể nộp hồ sơ xin cấp thẻ thường trú cho cả gia đình.</p>
                    </div>
                </div>
                <div class="benifit__item col-12 col-md-3 mb-4 text-center ">
                    <div class="benifit__icon display-4 mb-3 mb-md-5">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </div>
                    <div class="benifit__detail">
                        <h4 class="benifit__title mb-4"> <b>KHÔNG KÝ QUỸ</b> </h4>
                        <p>Chương trình không yêu cầu người đứng đơn phải ký quỹ như một số chương trình định cư của tỉnh bang khác tại Canada</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="condition condition--canada-state py-3 py-md-5">
    <div class="container">
        <h2 class="border-left-4 title-mb pt-4 pl-2 mb-4"><strong>ĐIỀU KIỆN</strong></h2>
        <div class="condition__wrap row">
            <div class="col-md-6">
                <div class="condition__item d-flex bg-white mb-3">
                    <div class="condition__icon"><img src="../images/canada/state/condition-05.jpg" alt="condition-05.jpg"></div>
                    <div class="condition__content">
                        <h4><b>Học vấn</b></h4>
                        <p>Tối thiểu có bằng cao đẳng hoặc đại học</p>
                        <p>Hoặc sở hữu 100% doanh nghiệp và điều hành 03 trong 05 năm gần nhất</p>
                    </div>
                </div>
                <div class="condition__item d-flex bg-white mb-3">
                    <div class="condition__icon"><img src="../images/canada/state/condition-06.jpg" alt="condition-06.jpg"></div>
                    <div class="condition__content">
                        <h4><b>Chứng minh tài chính</b></h4>
                        <p>Chứng minh sở hữu tối thiểu 600.000 CAD. Tài sản phải được đánh giá bởi tổ chức được chỉ định</p>
                    </div>
                </div>
                <div class="condition__item d-flex bg-white mb-3">
                    <div class="condition__icon"><img src="../images/canada/state/condition-03.jpg" alt="condition-03.jpg"></div>
                    <div class="condition__content">
                        <h4><b>Kinh nghiệm quản lý</b></h4>
                        <p>Tối thiểu 03 năm kinh nghiệm sở hữu và điều hành doanh nghiệp<br> Hoặc 04 năm kinh nghiệm quản lý cấp cao<br> Hoặc 01 năm sở hữu và điều hành doanh nghiệp + 02 năm kinh nghiệm quản lý cấp cao
                        </p>
                    </div>
                </div>
                <div class="condition__item d-flex bg-white mb-3">
                    <div class="condition__icon"><img src="../images/canada/state/condition-02.jpg" alt="condition-02.jpg"></div>
                    <div class="condition__content">
                        <h4><b>Số tiền đầu tư</b></h4>
                        <p>Đầu tư ít nhất 200.000 CAD vào chi phí hợp lệ</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="condition__item d-flex bg-white mb-3">
                    <div class="condition__icon"><img src="../images/canada/state/condition-07.jpg" alt="condition-07.jpg"></div>
                    <div class="condition__content">
                        <h4><b>Tạo việc làm</b></h4>
                        <p>Tạo ít nhất 01 việc làm toàn thời gian cho công dân/thường trú nhân Canada</p>
                    </div>
                </div>
                <div class="condition__item d-flex bg-white mb-3">
                    <div class="condition__icon"><img src="../images/canada/state/condition-08.jpg" alt="condition-08.jpg"></div>
                    <div class="condition__content">
                        <h4><b>Tỉ lệ sở hữu</b></h4>
                        <p>Đạt ít nhất 33.3%, hoặc nếu tỉ lệ thấp hơn thì phải đầu tư ít nhất 1.000.000 CAD</p>
                    </div>
                </div>
                <div class="condition__item d-flex bg-white mb-3">
                    <div class="condition__icon"><img src="../images/canada/state/condition-09.jpg" alt="condition-09.jpg"></div>
                    <div class="condition__content">
                        <h4><b>Tham gia điều hành</b></h4>
                        <p>Phải tham gia vào hoạt động điều hành doanh nghiệp hằng ngày</p>
                    </div>
                </div>
                <div class="condition__item d-flex bg-white mb-3">
                    <div class="condition__icon"><img src="../images/canada/state/condition-10.jpg" alt="condition-10.jpg"></div>
                    <div class="condition__content">
                        <h4><b>Địa điểm cư trú</b></h4>
                        <p>Trong vòng bán kính 100km tính từ nơi mở trụ sở doanh nghiệp</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h2 class="border-left-4 title-mb pt-4 pl-2 mb-4"><strong>QUY TRÌNH</strong></h2>
        <div class="text-center">
            <img src="../images/canada/state/quy-trinh-tinh-dang-british-columbia.jpg" alt="quy-trinh-tinh-dang-british-columbia.jpg">
        </div>
    </div>
</section>
{% endblock %}