{% extends 'layouts/application.html' %} {% block bodyClass %}class="home-page"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}
<section>
    <img class="w-100" src="../../../images/event/su-kien-con-duong-nhanh-nhat-den-chau-au.jpg" alt="su-kien-con-duong-nhanh-nhat-den-chau-au.jpg">
</section>
<div class="container">
    <div class="entry-content">
        <div class="event__imm event-2019-05-11">
            <section class="event__selling-point">
                <div class="bg-section bg-full bg-benefit" style="background-image: url(https://www.immigration.com.vn/uploads/img/bg-selling-point-01.png)"></div>
                <div class="event__content py-4">
                    <div class="row">
                        <div class="col-lg-4 order-lg-2">
                            <div class="event__sidebar-time-event sidebar-sticky d-md-none d-lg-block mb-4" data-module="scrollRegister">
                                <div class="event__sidebar-bg">
                                    <img src="../images/event/chau-au-sidebar-bg.jpg" alt="chau-au-sidebar-bg.jpg">
                                </div>

                                <div class="event__sidebar-content text-center text-white">
                                    <div class="event__sidebar-content-top">
                                        <p class="mb-2"><b>TP.HỒ CHÍ MINH</b></p>
                                        <p class="border text-left p-2">
                                            Thứ Bảy, 11 Tháng 5 2019 09:30 – 12:30
                                            <br> Tòa nhà Đức, Tầng 2, 33 Lê Duẩn, P.Bến Nghé, Q1, TP.HCM
                                        </p>
                                    </div>
                                    <div class="event__sidebar-content-bottom">
                                        <p class="mb-2"><b>HÀ NỘI</b></p>
                                        <p class="border text-left p-2">
                                            Chủ Nhật, 12 Tháng 5 2019 09:30 – 12:30
                                            <br> Khách sạn Pan Pacific, phòng họp Pacific 3, Tầng 2, Số 1 Đường Thanh Niên, Quận Ba Đình, Hà Nội
                                        </p>
                                    </div>
                                    <p><small><i>*Sự kiện miễn phí vé tham dự & hỗ trợ phiên dịch</i></small></p>
                                    <p class="d-block mt-xl-4"><a href="#formdangky" class="event__btn-register btn-event--default"><span><b>ĐĂNG KÝ TƯ VẤN →</b></span></a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 order-lg-1">
                            <div class="title-bg w-10">CON ĐƯỜNG NHANH NHẤT ĐẾN CHÂU ÂU</div>
                            <div class="text-center "><img src="https://www.immigration.com.vn/uploads/img/br-selling-point-03.png"></div>
                            <div class="row">
                                <div class="col-md-2 col-xl-3"></div>
                                <div class="col-md-8 col-xl-6">
                                    <div class="title-selling-point">
                                        <h5>CHỈ ĐẦU TƯ <span class="special-text">7</span> TỶ</h5>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xl-3"></div>
                            </div>
                            <div class="text-center "><img src="https://www.immigration.com.vn/uploads/img/br-selling-point-03.png"></div>
                            <div class="row">
                                <div class="col-md-2 col-xl-3"></div>
                                <div class="col-md-8 col-xl-6">
                                    <div class="selling-point-wrap">
                                        <ul>
                                            <li>Sở hữu quốc tịch Châu Âu sau 2 năm</li>
                                            <li>Quốc tịch vĩnh viễn cho cả gia đình và các thế hệ kế thừa</li>
                                            <li>Miễn visa lên tới 154 quốc gia và vùng lãnh thổ</li>
                                            <li>Được sở hữu đa quốc tịch</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xl-3"></div>
                            </div>
                            <div class="text-center "><img src="https://www.immigration.com.vn/uploads/img/br-selling-point-03.png"></div>
                            <div class="selling-point-link">
                                <div class="selling-point-panel">
                                    <ul class="selling-point-dot text-white">
                                        <li><strong>KHÔNG</strong><span> yêu cầu trình độ ngoại ngữ, trình độ học vấn</span></li>
                                        <li><strong>KHÔNG</strong> yêu cầu cư trú</li>
                                        <li><strong>KHÔNG</strong> giới hạn độ tuổi</li>
                                        <li><strong>ĐƯỢC</strong> sống, làm việc, và học tập ở bất kì quốc gia nào thuộc khối Liên minh châu Âu</li>
                                    </ul>
                                </div>
                            </div>
                            <p><a href="#formdangky" class="event__btn-register btn-event--default"><span><b>ĐĂNG KÝ TƯ VẤN →</b></span></a></p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="py-3 py-md-5">
                <div class="bg-section bg-full bg-benefit" style="background: url(https://www.immigration.com.vn/uploads/img/bg-time-dark-02.png) 0 0/auto repeat"></div>
                <div class="event__content py-4">
                    <div class="row">
                        <div class="col-lg-4 order-lg-2"></div>
                        <div class="col-lg-8">
                            <h4 class="event__title text-center mb-5">
                                <p class="py-2 px-4 bg-dark text-white d-block d-md-inline">HOẠT ĐỘNG CHÍNH TẠI SỰ KIỆN</p>
                            </h4>
                            <div class="event__time-line my-0 mb-4 my-md-5">
                                <div class="row mb-5">
                                    <div class="col-5 col-md-3 col-xl-2">
                                        <div class="event__col-time">9:00 – 9:30</div>
                                    </div>
                                    <div class="col-7 col-md-9 col-xl-10">
                                        <div class="event__col-text">Đón khách và tham quan khu vực thông tin di trú Châu Âu</div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-5 col-md-3 col-xl-2">
                                        <div class="event__col-time">9:30 – 10:45</div>
                                    </div>
                                    <div class="col-7 col-md-9 col-xl-10">
                                        <div class="event__col-text">Khai mạc chương trình<br>
                                            <strong><em>“Hội thảo Di trú châu Âu – Con đường tới châu Âu nhanh nhất – Tự do đi lại Toàn Cầu”</em></strong> Chia sẻ của các Diễn giả Giải đáp thắc mắc của khách mời
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5 col-md-3 col-xl-2">
                                        <div class="event__col-time">10:45 – 12:30</div>
                                    </div>
                                    <div class="col-7 col-md-9 col-xl-10">
                                        <div class="event__col-text">Tư vấn về các chương trình di trú Châu Âu với các diễn giả khách mời và chuyên gia di trú của IMM Group</div>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-4"><a href="#formdangky" class="event__btn-register btn-event--default"><span><b>ĐĂNG KÝ TƯ VẤN →</b></span></a></p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="py-4 py-md-5">
                <div class="bg-section bg-full bg-benefit" style="background: url(https://www.immigration.com.vn/uploads/img/bg-time-dark-01.png) 0 0/auto repeat"></div>
                <div class="event__content">
                    <div class="row">
                        <div class="col-lg-4 order-lg-2"></div>
                        <div class="col-lg-8">
                            <h4 class="event__title text-center mb-5 mt-4 "> <span class="py-2 px-4 bg-dark text-white">GIỚI THIỆU VỀ DIỄN GIẢ</span> </h4>
                            <div data-module="slider">
                                <div class="mobile__slider row">
                                    <div class="offset-xl-2 col-md-6 col-xl-4">
                                        <div class="card event__card mb-4">
                                            <img src="https://www.immigration.com.vn/uploads/img/OLEG.png" class="card-img-top" alt="OLEG.png">
                                            <div class="card-body">
                                                <h5 class="card-title">Tiến sĩ Oleg Marinov</h5>
                                                <p class="card-text" style="min-height: 135px">Tham tán Đại sứ quán Cộng hòa Bulgaria – Trưởng Đại diện Văn phòng Kinh tế Thương mại tại Tp.HCM</p>
                                                <p class="text-center mt-4 mb-0">
                                                    <img src="https://www.immigration.com.vn/uploads/img/flag-01.png" alt="flag-01.png">
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xl-4">
                                        <div class="card event__card mb-4">
                                            <img src="https://www.immigration.com.vn/uploads/img/Armand-Arton.jpg" class="card-img-top" alt="Armand-Arton.jpg">
                                            <div class="card-body">
                                                <h5 class="card-title">Ông Armand Arton</h5>
                                                <p class="card-text" style="min-height: 135px">Chủ tịch Hội đồng quản trị Nhà sáng lập Arton Capital</p>
                                                <p class="text-center mt-4 mb-0">
                                                    <img class="card-logo" src="https://www.immigration.com.vn/uploads/img/flag-02.jpg" alt="flag-02.jpg">
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xl-4">
                                        <div class="card event__card mb-4">
                                            <img src="https://www.immigration.com.vn/uploads/img/mrSinh.png" class="card-img-top" alt="mrSinh.png">
                                            <div class="card-body">
                                                <h5 class="card-title">Ông Nguyễn Xuân Sinh</h5>
                                                <p class="card-text" style="min-height: 92px">Giám đốc Điều hành IMM Group</p>
                                                <p class="text-center mt-4 mb-0">
                                                    <img class="card-logo" src="https://www.immigration.com.vn/uploads/img/flag-03.jpg" alt="flag-03.jpg">
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xl-4">
                                        <div class="card event__card mb-4">
                                            <img src="https://www.immigration.com.vn/uploads/img/Milos-Stojanovic.jpg" class="card-img-top" alt="Milos-Stojanovic.jpg">
                                            <div class="card-body">
                                                <h5 class="card-title">Ông Milos Stojanovic</h5>
                                                <p class="card-text" style="min-height: 101px">Phó chủ tịch Hội đồng quản trị Arton Capital</p>
                                                <p class="text-center mt-4 mb-0">
                                                    <img class="card-logo" src="https://www.immigration.com.vn/uploads/img/flag-02.jpg" alt="flag-02.jpg">
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xl-4">
                                        <div class="card event__card mb-4">
                                            <img src="https://www.immigration.com.vn/uploads/img/Gerg.png" class="card-img-top" alt="Gerg.png">
                                            <div class="card-body">
                                                <h5 class="card-title">Ông George Eid</h5>
                                                <p class="card-text" style="min-height: 101px">Phó Chủ tịch phụ trách Phát triển Kinh doanh Arton Capital</p>
                                                <p class="text-center mt-4 mb-0">
                                                    <img class="card-logo" src="https://www.immigration.com.vn/uploads/img/flag-02.jpg" alt="flag-02.jpg">
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-4"><a href="#formdangky" class="event__btn-register btn-event--default"><span><b>ĐĂNG KÝ TƯ VẤN →</b></span></a></p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="py-4 py-md-5">
                <div class="bg-section bg-full bg-benefit" style="background: #1E272E"></div>
                <div class="event__content">
                    <div class="row">
                        <div class="col-lg-4 order-lg-2"></div>
                        <div class="col-lg-8">
                            <iframe class="video-about-eu" src="https://www.youtube.com/embed/B_S7_D-36-Y" width="100%" height="450" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                        </div>
                    </div>
                </div>
            </section>
            <section class="about__arton-capital py-4 py-md-5">
                <div class="event__content">
                    <div class="row">
                        <div class="col-lg-4 order-lg-2"></div>
                        <div class="col-lg-8">
                            <div class="d-flex align-items-center">
                                <h4 class="about__title">VỀ ARTON CAPITAL</h4>
                                <img src="https://www.immigration.com.vn/uploads/img/logo-arton-capital.png" alt="logo-arton-capital.png" style="max-width:3.5rem">
                            </div>
                            <div class="about__box my-4">
                                <p>
                                    Là một công ty tư vấn tài chính toàn cầu chuyên về các chương trình đầu tư di trú và nhập tịch, Arton còn là thành viên sáng lập của Hội đồng Di trú nhà đầu tư toàn cầu (GIIC), có nhiệm vụ đảm bảo sự minh bạch, thiết lập các nền tảng tốt nhất và quản
                                    trị toàn diện các chương trình nhập cư cho nhà đầu tư quốc tế. Với thâm niên hơn 10 năm hoạt động, sự ủy thác của chính phủ 11 nước cùng hơn 500 đối tác uy tín trên toàn cầu, Arton đã hỗ trợ hàng ngàn nhà đầu tư và
                                    gia đình trên thế giới lấy quốc tịch thành công.
                                </p>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <ul class="about__list">
                                            <li>Với lịch sử hình thành và phát triển hơn một Thập kỷ</li>
                                            <li>Được ủy thác bởi 11 Chính Phủ</li>
                                            <li>Hơn 500 đối tác uy tín toàn cầu</li>
                                            <li>15 văn phòng tại các thành phố lớn trên Thế Giới: Singapore, Dubai, Paris…</li>
                                            <li>Thực hiện thành công hơn 200 hồ sơ mỗi năm cho mỗi chương trình đầu tư</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6">
                                        <img src="https://www.immigration.com.vn/uploads/img/about-arton.png" alt="about-arton.png">
                                    </div>
                                </div>
                            </div>
                            <p>
                                <img src="https://www.immigration.com.vn/uploads/img/imm-about.png" alt="imm-about.png">
                            </p>
                            <div class="pt-3 px-md-5">
                                <h4>GIẢI PHÁP ĐẦU TƯ CHĂM LO CHO TƯƠNG LAI BỀN VỮNG CỦA GIA ĐÌNH</h4>
                                <p><strong><em>IMM group tự hào là doanh nghiệp đầu tiên hoàn thiện chuỗi dịch vụ đầu tư ra nước ngoài cho Doanh nhân, Nhà đầu tư người Việt Nam với hơn 14 năm hoạt động.</em></strong></p>
                                <div class="row pt-3 text-justify">
                                    <div class="col-md-6" style="line-height: 1.95">Hơn <strong>14</strong> năm lịch sử hình thành và phát triển. <strong>7</strong> văn phòng lớn tại các quốc gia: Việt Nam, Singapore, Úc, Mỹ và Canada. Thành viên Hiệp hội các nhà môi giới Bất động sản Mỹ (<strong>REALTOR ® &amp; REALTOR Việt Nam ®</strong>).
                                        Thành viên của tổ chức luật và tài chính uy tín toàn cầu-MSI Global
                                        <p></p>
                                        <p class="pt-3"><img src="https://www.imm.group/images/dark-logo3.png"></p>
                                    </div>
                                    <div class="col-md-6" style="line-height: 1.95">Liên kết hợp tác với hơn <strong>300</strong> công ty luật, tài chính, chủ dự án, trường học trên toàn thế giới. Mạng lưới đối tác mở rộng khắp các Châu lục, bao gồm những chuyên gia trong lĩnh vực luật, giáo dục, du
                                        lịch, tài chính, bất động sản….<strong>5</strong> thương hiệu thành viên mang đến trải nghiệm dịch vụ trọn gói – hoàn thiện, đáp ứng các nhu cầu đầu tư, định cư của doanh nhân Việt. Đối tác chiến lược với hơn <strong>100</strong>                                        đơn vị truyền thông, ngân hàng, công ty luật, bất động sản, du lịch, trường học uy tín tại Việt Nam.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="sticky-stopper"></div>
            <section class="event__register text-white py-5" id="formdangky">
                <div class="bg-section bg-full bg-benefit" style="background-image: url('https://www.immigration.com.vn/uploads/img/bg-register.png');"></div>
                <div class="container">
                    <div class="col-lg-10 mx-auto px-0">
                        <h2 class="text-center">ĐĂNG KÝ TƯ VẤN CÁ NHÂN</h2>
                        <p class="text-center mb-5">Sự kiện đã kết thúc. Nếu quý khách có quan tâm đến các chương trình đầu tư nhận quốc tịch, xin vui lòng điền thông tin để được gặp các chuyên viên tư vấn:</p>
                        <div class="row">
                            <div class="col-12 order-md-2">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-3 text-center text-md-left h4" style="white-space: nowrap;"><b>TP. HCM</b> </div>
                                            <div class="col-md-9 text-center text-md-left border-1-md-left">
                                                <p class="mb-2 h4"> <b>THỨ BẢY | 11 - 05 - 2019</b></p>
                                                <p class="mb-3 h1"><b>09:30 - 12:30</b></p>
                                                <p>Tòa nhà Đức,tầng 2,<br>33 Lê Duẩn, P.Bến Nghé,<br>Q1,TP.HCM</p>
                                            </div>
                                        </div>
                                        <hr class="d-md-none">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-3 text-center text-md-left h4 order-md-2" style="white-space: nowrap;"><b>HÀ NỘI</b> </div>
                                            <div class="col-md-9 text-center text-md-right border-1-md-right min-hieght">
                                                <p class="mb-2 h4"> <b>CHỦ NHẬT | 12 - 05 - 2019</b></p>
                                                <p class="mb-3 h1"><b>09:30 - 12:30</b></p>
                                                <p>Khách sạn Pan Pacific, phòng họp Pacific 3, Tầng 2, Số 1 Đường Thanh Niên, Quận Ba Đình, Hà Nội</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row mb-md-5">
                                    <div class="col-md-6 px-0 px-md-2">
                                        <input type="text" class="form-control mb-3" placeholder="Tên">
                                        <input type="email" class="form-control mb-3" placeholder="Email">
                                        <input type="text" class="form-control mb-3" placeholder="Nhu cầu tư vấn khác">
                                    </div>
                                    <div class="col-md-6 px-0 px-md-2">
                                        <input type="tel" class="form-control mb-3" placeholder="Số điện thoại">
                                        <select class="form-control mb-3">
                                        <option>Chương trình quý khách quan tâm</option>
                                        <option>Chương trình đầu tư nhận quốc tịch Bulgaria</option>
                                        <option>Chương trình đầu tư nhận quốc tịch Montenegro</option>
                                        <option>Chương trình đầu tư nhận quốc tịch Grenada</option>
                                    </select>
                                        <input type="text" class="form-control mb-3" placeholder="Nhu cầu tư vấn khác">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group pt-3 pt-md-5 text-center">
                            <div class="event__submit-wrap btn-img">
                                <div class="event__btn-submit-bg">
                                    <img src="https://www.immigration.com.vn/uploads/img/bg-register-01.png" alt="bg-register-01.png">
                                </div>
                                <p class="mb-0">
                                    <input type="submit" value="HOÀN TẤT ĐĂNG KÝ" class="event__btn-submit-text">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}