.event-2019-05-11 {
    .title {
        &-bg {
            background: url(https://www.immigration.com.vn/uploads/img/bg-title-eu.png) center/contain no-repeat;
            font-weight: 700;
            font-size: 1.3rem;
            text-align: center;
            padding: .8rem;
        }
        &-selling-point {
            background: url(https://www.immigration.com.vn/uploads/img/bg-title-eu-01.png) center/contain no-repeat;
            text-align: center;
            padding: .4rem .8rem .8rem;
            h5 {
                margin-bottom: 0
            }
            .special-text {
                color: #ad1f24;
                font-size: 1.5rem;
            }
        }
    }
    .selling-point-wrap {
        background: url(https://www.immigration.com.vn/uploads/img/bg-selling-point-02.png) 0 0/100% no-repeat;
        width: 100%;
        padding: 1.55rem 2rem 1.55rem;
        ul {
            margin: 0 auto;
            font-weight: 700;
            text-transform: uppercase;
            color: #fff000;
            padding: 0;
            list-style: none;
            display: inline-block;
            li {
                padding: 8px 0 8px 8px
            }
        }
    }
    .selling-point {
        &-link {
            border: 3px solid #faf292;
            margin: 0 3.1rem 3.1rem;
        }
        &-panel {
            padding: 3rem;
            background: #171d1f;
            line-height: 2.3rem;
            margin: 2rem auto;
            width: 66%;
            box-shadow: 7px 7px 15px 0px #000;
        }
        &-dot {
            font-size: 1.2rem;
            padding: 0;
        }
    }
    .event {
        &__time-line {
            position: relative;
            display: inline-block;
            &::before {
                content: "";
                background-image: url('../../images/event/time-line.png');
                top: -2rem;
                left: 7rem;
                height: 20rem;
                width: 2.5rem;
                position: absolute;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
        &__col-time {
            background: url('https://www.immigration.com.vn/uploads/img/bg-title-eu-02.png') center/contain no-repeat;
            padding: .3rem .5rem;
            text-align: center;
            font-weight: 600;
            white-space: nowrap;
        }
        &__col-text {
            padding: .3rem 2.5rem;
        }
        &__title p {
            box-shadow: 6px 5px 15px 1px #050505
        }
        &__card {
            background-color: #191e21;
            padding: 1rem;
            color: white;
            border-radius: 0;
            .card {
                &-body {
                    padding: 0;
                }
                &-title {
                    background-color: #000000;
                    margin: 1rem 0;
                    padding: .5rem;
                    text-align: center;
                    font-weight: normal;
                }
                &-text {
                    background: #1e272e;
                    padding: .8rem;
                    box-shadow: 7px 7px 15px 0px #171717;
                    text-align: center
                }
                &-logo {
                    max-width: 5.5rem;
                    display: inline-block
                }
            }
        }
        &__btn-submit-text {
            text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
            @include transition();
            font-weight: bold;
            &:hover {
                text-shadow: none;
            }
        }
    }
    .about {
        &__title {
            background-color: #b69a63;
            color: white;
            padding: .4rem 2rem;
            margin-right: 1rem
        }
        &__box {
            border: 2px solid #b69a63;
            padding: 1rem;
        }
        &__list {
            list-style: none;
            padding: 0 0 0 1rem;
            li {
                position: relative;
                padding: 0rem 1rem .4rem;
                font-weight: 600;
                &:before {
                    content: "";
                    position: absolute;
                    top: 5px;
                    left: -1rem;
                    width: 1.2rem;
                    height: 1.2rem;
                    background: url(https://www.immigration.com.vn/uploads/img/khung6.png) no-repeat;
                }
            }
        }
    }
    // responsive
    @include media-breakpoint-down(lg) {
        .selling-point {
            &-panel {
                width: 80%
            }
            &-wrap {
                padding: 3rem 2rem;
            }
        }
        .event {
            &__col-text {
                padding: 0
            }
            &__time-line:before {
                left: 7.5rem
            }
        }
    }
    @include media-breakpoint-down(sm) {
        .title-bg {
            font-size: 1rem;
            background: rgb(247, 231, 113);
            background: linear-gradient(90deg, rgba(247, 231, 113, 1) 0%, rgba(198, 150, 50, 1) 25%, rgba(247, 231, 113, 1) 50%, rgba(198, 150, 50, 1) 75%, rgba(247, 231, 113, 1) 100%);
            border: 2px solid #fafafa;
        }
        .selling-point {
            &-wrap {
                padding: 1.5rem;
                background: #000000;
                border: 2px solid #fafafa;
            }
            &-link {
                margin: 0 0 3.1rem;
            }
            &-dot {
                font-size: .9rem;
            }
            &-panel {
                padding: 2rem;
                width: 90%;
            }
        }
        .event {
            &__time-line {
                .col-5 {
                    padding-right: 0
                }
                &:before {
                    display: none
                }
            }
            &__col-time {
                background: rgb(237, 188, 151);
                background: linear-gradient(90deg, rgba(237, 188, 151, 1) 0%, rgba(156, 118, 71, 1) 25%, rgba(255, 244, 201, 1) 50%, rgba(156, 118, 71, 1) 75%, rgba(237, 188, 151, 1) 100%);
            }
        }
        .about__title {
            padding: .4rem 1rem;
        }
    }
}