<div class="col-12 col-md-4">
    <div class="blog-panel__item space--20">
        <div class="blog__top space--20" style="background-image: url(../../images/blog-01.jpg)">
            <a href="#" target="_blank" class="blog__link">
                <strong>900.000USD là mức đầu tư EB-5 mới áp dụng từ 21/11/2019</strong>
            </a>
        </div>
        <div class="blog__detail">
            <a href="#" target="_blank" class="blog__name mb-2">
                <strong>900.000USD là mức đầu tư EB-5 mới áp dụng từ 21/11/2019</strong>
            </a>
            <em class="d-block">Ngày 25/07/2019</em>
            <div class="blog__flag">
                <a href="#"><img src="../../../images/flag/flag-my.jpg" alt="flag-my.jpg"></a>
                <a href="#"><img src="../../../images/flag/flag-uc.jpg" alt="flag-uc.jpg"></a>
            </div>
            <div class="blog__des mt-2">
                Ngày 24/7, luật EB-5 mới chính thức được công bố. Theo đó, mức đầu tư EB-5 tăng từ 500.000USD lên 900.000USD, áp dụng từ 21/11/2019. Nếu có kế hoạch
            </div>
            <div class="blog__more-view text-right d-none">
                <a href="#" class="btn__more-view">Xem tiếp</a>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-md-4">
    <div class="blog-panel__item space--20">
        <div class="blog__top space--20" style="background-image: url(../../images/blog-02.jpg)">
            <a href="#" target="_blank" class="blog__link">
                <strong>65 điểm cần đạt theo thang điểm di trú Úc là thế nào?</strong>
            </a>
        </div>
        <div class="blog__detail">
            <a href="#" target="_blank" class="blog__name mb-2">
                <strong>65 điểm cần đạt theo thang điểm di trú Úc là thế nào?</strong>
            </a>
            <em class="d-block">Ngày 25/07/2019</em>
            <div class="blog__flag">
                <a href="#"><img src="../../../images/flag/flag-uc.jpg" alt="flag-uc.jpg"></a>
            </div>
            <div class="blog__des mt-2">
                Để đầu tư định cư Úc diện Visa 188A và 188B, cần đạt 65 điểm theo Thang điểm di trú Úc. Vậy Thang điểm di trú Úc là gì
            </div>
            <div class="blog__more-view text-right d-none">
                <a href="#" class="btn__more-view">Xem tiếp</a>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-md-4">
    <div class="blog-panel__item space--20">
        <div class="blog__top space--20" style="background-image: url(../../images/blog-04.jpg)">
            <a href="#" target="_blank" class="blog__link">
                <strong>Lượng người nhập cư mới chiếm đến 61% tỷ lệ tăng trưởng dân số Canada năm 2018</strong>
            </a>
        </div>
        <div class="blog__detail">
            <a href="#" target="_blank" class="blog__name mb-2">
                <strong>Lượng người nhập cư mới chiếm đến 61% tỷ lệ tăng trưởng dân số Canada năm 2018</strong>
            </a>
            <em class="d-block">Ngày 25/07/2019</em>
            <div class="blog__flag">
                <a href="#"><img src="../../../images/flag/flag-canada.jpg" alt="flag-canada.jpg"></a>
            </div>
            <div class="blog__des mt-2">
                Theo báo cáo thống kê mới của Canada, chính sách nhập cư vẫn tiếp tục là yếu tố chính giúp gia tăng dân số của quốc gia này. Trong
            </div>
            <div class="blog__more-view text-right d-none">
                <a href="#" class="btn__more-view">Xem tiếp</a>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-md-4">
    <div class="blog-panel__item space--20">
        <div class="blog__top space--20" style="background-image: url(../../images/blog-05.jpg)">
            <a href="#" target="_blank" class="blog__link">
                <strong>EU kêu gọi xóa bỏ Thị thực vàng – Chương trình đầu tư định cư châu Âu</strong>
            </a>
        </div>
        <div class="blog__detail">
            <a href="#" target="_blank" class="blog__name mb-2">
                <strong>EU kêu gọi xóa bỏ Thị thực vàng – Chương trình đầu tư định cư châu Âu</strong>
            </a>
            <em class="d-block">Ngày 25/07/2019</em>
            <div class="blog__flag">
                <a href="#"><img src="../../../images/flag/flag-my.jpg" alt="flag-my.jpg"></a>
            </div>
            <div class="blog__des mt-2">
                Vào cuối tháng 3 vừa qua, Nghị viện châu Âu đã tiếp nhận một kiến nghị kêu gọi các quốc gia thành viên, bao gồm cả Bồ Đào Nha
            </div>
            <div class="blog__more-view text-right d-none">
                <a href="#" class="btn__more-view">Xem tiếp</a>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-md-4">
    <div class="blog-panel__item space--20">
        <div class="blog__top space--20" style="background-image: url(../../images/blog-06.jpg)">
            <a href="#" target="_blank" class="blog__link">
                <strong>EU kêu gọi kiểm soát chặt hơn đối với Golden Visa – Chương trình đầu tư định cư Châu Âu</strong>
            </a>
        </div>
        <div class="blog__detail">
            <a href="#" target="_blank" class="blog__name mb-2">
                <strong>EU kêu gọi kiểm soát chặt hơn đối với Golden Visa – Chương trình đầu tư định cư Châu Âu</strong>
            </a>
            <em class="d-block">Ngày 25/07/2019</em>
            <div class="blog__flag">
                <a href="#"><img src="../../../images/flag/flag-my.jpg" alt="flag-my.jpg"></a>
            </div>
            <div class="blog__des mt-2">
                Liên minh Châu Âu (EU) đã kêu gọi các nước thành viên tăng cường kiểm soát những người nộp đơn xin Golden Visa – Chương trình đầu tư định cư
            </div>
            <div class="blog__more-view text-right d-none">
                <a href="#" class="btn__more-view">Xem tiếp</a>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-md-4">
    <div class="blog-panel__item space--20">
        <div class="blog__top space--20" style="background-image: url(../../images/blog-03.jpg)">
            <a href="#" target="_blank" class="blog__link ">
                <strong>Những lý do nên định cư châu  Âu</strong>
            </a>
        </div>
        <div class="blog__detail">
            <a href="#" target="_blank" class="blog__name mb-2">
                <strong>Những lý do nên định cư châu  Âu</strong>
            </a>
            <em class="d-block">Ngày 25/07/2019</em>
            <div class="blog__flag">
                <a href="#"><img src="../../../images/flag/flag-my.jpg" alt="flag-my.jpg"></a>
            </div>
            <div class="blog__des mt-2">
                Châu Âu là một vùng đất mang vẻ đẹp và sự quyến rũ khiến nhiều người say đắm. Dù trải qua nhiều thay đổi và biến động, 50 quốc gia
            </div>
            <div class="blog__more-view text-right d-none">
                <a href="#" class="btn__more-view">Xem tiếp</a>
            </div>
        </div>
    </div>
</div>