<section class="evaluate evaluate--canada py-5" id="evaluate">
    <div class="container text-center">
        <h4 class="mb-5"><strong>Miễn phí đánh giá hồ sơ, xin quý nhà đầu tư vui lòng điền vào các thông tin sau:</strong></h4>
        <h2 class="mb-5">ĐÁNH GIÁ HỒ SƠ</h2>
        <form action="" class="form text-left" data-aos="flip-down">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="mb-1 d-block">Họ & tên (*)</label>
                        <input type="text" name="your-name" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="mb-1 d-block">Số điện thoại (*)</label>
                        <input type="text" name="your-tel" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="mb-1 d-block">Email (*)</label>
                        <input type="email" name="your-email" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="mb-1 d-block">Năm sinh (*)</label>
                        <input type="text" name="your-birthday" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="mb-1 d-block">Tỉnh thành (*)</label>
                        <input type="text" name="province-text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="mb-1 d-block">Tỉnh bang (*)</label>
                        <select class="form-control" name="province-list">
                                <option value="Manitoba">Manitoba</option>
                                <option value="British Columbia">British Columbia</option>
                                <option value="Saskatchewan">Saskatchewan</option>
                                <option value="Ontario">Ontario</option>
                                <option value="Nova Scotia">Nova Scotia</option>
                            </select>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-12 col-sm-6 col-md-3 mb-3">
                    <strong class="mb-1 d-block">Trình độ Anh ngữ</strong>
                    <div class="form-check mb-1">
                        <input class="form-check-input" name="level-text" type="radio" value="Khá (Tương đương IELTS 4.0)" checked>
                        <label class="form-check-label">Khá (Tương đương IELTS 4.0)</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="level-text" type="radio" value="Tốt (Tương đương IELTS 5.0)">
                        <label class="form-check-label">Tốt (Tương đương IELTS 5.0)</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="level-text" type="radio" value="Rất tốt (IELTS 6.0 trở lên)">
                        <label class="form-check-label">Rất tốt (IELTS 6.0 trở lên)</label>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3 mb-3">
                    <strong class="mb-1 d-block">Tổng tài sản</strong>
                    <div class="form-check mb-1">
                        <input class="form-check-input" name="asset-text" type="radio" value="13 - 15 tỷ VND" checked>
                        <label class="form-check-label">13 - 15 tỷ VND</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="asset-text" type="radio" value="16 - 20 tỷ VND">
                        <label class="form-check-label">16 - 20 tỷ VND</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="asset-text" type="radio" value="Trên 20 tỷ VND">
                        <label class="form-check-label">Trên 20 tỷ VND</label>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <strong class="mb-1 d-block">Kinh nghiệm làm quản lý / chủ doanh nghiệp (quản lý tối thiểu 3 nhân viên)</strong>
                    <div class="form-check mb-1">
                        <input class="form-check-input" name="experience-text" type="radio" value="3 - 5 năm" checked>
                        <label class="form-check-label">3 - 5 năm</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="experience-text" type="radio" value="6 - 10 năm">
                        <label class="form-check-label">6 - 10 năm</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="experience-text" type="radio" value="Trên 10 năm">
                        <label class="form-check-label">Trên 10 năm</label>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <strong class="mb-1 d-block">Văn phòng tư vấn</strong>
                    <div class="form-check mb-1">
                        <input class="form-check-input" name="consult-text" type="radio" value="Hồ Chí Minh" checked>
                        <label class="form-check-label">Hồ Chí Minh</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="consult-text" type="radio" value="Hà Nội">
                        <label class="form-check-label">Hà Nội</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <button type="submit" class="btn bg-default">Đăng Ký</button>
                </div>
            </div>
        </form>
    </div>
</section>