<div class="register__panel p-4">
    <div class="overlay overlay__light"></div>
    <h3 class="register__title text-white text-center pb-4 pb-sm-4 mb-title"><b>YÊU CẦU CHUYÊN VIÊN TƯ VẤN GỌI LẠI</b></h3>
    <form method="POST" class="register" id="register">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" class="form-control" id="your-name" placeholder="Tên" name="your-name">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" class="form-control" id="your-tel" placeholder="Số điện thoại" name="your-tel">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="email" class="form-control" id="your-email" placeholder="Email" name="your-email">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="form-group">
                    <select class="form-control" id="your-country" name="your-country">
                    <option value="-- Quốc gia quan tâm --">— Quốc gia quan tâm —</option>
                    <option value="Định cư Mỹ">Định cư Mỹ</option>
                    <option value="Định cư Úc">Định cư Úc</option>
                    <option value="Định cư Canada">Định cư Canada</option>
                    <option value="Định cư Bồ Đào Nha">Định cư Bồ Đào Nha</option>
                    <option value="Định cư Bulgaria">Định cư Bulgaria</option>
                    <option value="Định cư Montenegro">Định cư Montenegro</option>
                    <option value="Định cư Grenada">Định cư Grenada</option>
                    <option value="Chưa xác định">Chưa xác định</option>
                  </select>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="form-group">
                    <select class="form-control" id="your-country" name="your-country">
                        <option value="-- Văn phòng tư vấn --">— Văn phòng tư vấn —</option>
                        <option value="Định cư Mỹ">Phía Nam: Vp Tp. Hồ Chí Minh</option>
                        <option value="Định cư Úc">Phía Bắc: Vp Hà Nội</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="form-group">
                    <textarea class="form-control" name="your-more" id="" placeholder="Nhu cầu khác cần được tư vấn"></textarea>
                </div>
            </div>
            <div class="col-12 col-md-4">
                recaptcha Block
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-submit">
                    <input type="submit" value="Gửi" class="btn btn__register">
                </div>
            </div>
        </div>
    </form>
</div>

<!-- <div class="register">
    <div class="row ">
        <div class="col-md-4">
            <div class="form-group">
                [text* your-name class:form-control placeholder "Tên"]
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                [tel* your-tel class:form-control placeholder "Số điện thoại"]
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                [email* your-email class:form-control placeholder "Email"]
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8">
            <div class="form-group">
                [select your-conutry class:form-control "-- Quốc gia quan tâm --" "Mỹ" "Úc" "Canada" "Các nước châu Âu" "Vùng Caribbean" "Chưa xác định"]
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                [select your-address class:form-control "-- Văn phòng tư vấn --" "Phía Nam: Vp Tp. Hồ Chí Minh" "Phía Bắc: Vp Hà Nội "]
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8">
            <div class="form-group">
                [textarea your-more class:form-control placeholder "Nhu cầu khác cần được tư vấn"]
            </div>
        </div>
        <div class="col-12 col-md-4">
            [recaptcha class:mb-3]
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-submit">
                [submit class:btn class:btn__register "Gửi"]
            </div>
        </div>
    </div>
</div> -->