/*footer variable*/

$footer:$primary-color;
$footer-color: $white;

/*---------------------------*/

.footer {
    overflow: hidden;
    @include display-style($footer-color, $footer);
    a {
        color: inherit;
    }
    &__title {
        color: $footer-color;
        font-weight: $font-weight-bold;
    }
    &__link {
        font-size: $font-size-sm;
        line-height: rem(26);
        a:hover {
            text-decoration: underline
        }
    }
    &__menu {
        a {
            position: relative;
            display: inline-block;
            @include transition(transform 0.3s ease);
            &:before {
                color: lighten($footer, 35%);
                position: absolute;
                top: 100%;
                content: attr(data-hover);
                @include transform(translate3d(0, 0, 0));
            }
            @include hover-focus-active {
                @include transform(translateY(-100%));
            }
        }
        li {
            overflow: hidden;
            padding: 0 rem(15)
        }
    }
    &__social {
        &-item {
            width: rem(65);
            height: rem(65);
            border-radius: 100%;
            text-align: center;
            margin: 0 .7rem;
            display: inline-block;
            border: 3px solid #e4e4e4;
            position: relative;
            background-color: $footer-color;
            color: $footer;
            @include transition();
            &:hover {
                box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.4);
                color: $footer-color;
                background-color: $footer;
            }
        }
        a {
            font-size: rem(30);
            display: inline-block;
            width: 100%;
            height: 100%;
            transition: none;
        }
    }
    &__icon {
        position: absolute;
        left: calc((100% - 30px)/2);
        top: 14px;
        -webkit-animation: iconjump 2s infinite;
        -moz-animation: iconjump 2s infinite;
        animation: iconjump 2s infinite;
        min-width: 30px;
        text-align: center;
    }
    &__copyright {
        background-color: #24273e;
        p {
            margin-bottom: 0
        }
    }
    &__important-content {
        font-size: rem(15)
    }
}