.expertise {
    &__tab .menu {
        list-style: none;
        padding: 0;
        background: #CCCCCC;
        display: flex;
        margin-bottom: 2rem;
        li {
            text-align: center;
            padding: .9rem;
            flex: 1;
            position: relative;
            &:after {
                position: absolute;
                bottom: 0;
                height: rem(5);
                width: 100%;
                content: "";
                left: 0;
                background-color: $primary-color;
                opacity: 0;
                @include transition;
            }
            a {
                display: block;
                font-weight: bold;
                color: $primary-color;
                font-size: 1rem;
                white-space: nowrap;
            }
            &.current-menu-item:after,
            &:hover:after {
                opacity: 1;
            }
            @include media-breakpoint-down(sm) {
                padding: .5rem
            }
        }
    }
    &__item {
        background-color: #F4F4F4;
        @include transition;
        height: 100%;
        &:hover {
            box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2)
        }
    }
    &__img {
        min-width: 150px;
        img {
            display: block
        }
    }
    &__title {
        margin-bottom: 0
    }
    @include media-breakpoint-down(sm) {
        &__title {
            margin-top: 0
        }
    }
}

.newstab {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            &.current-menu-item,
            &:hover {
                border-color: $primary-color
            }
            a {
                display: block;
                font-weight: 700;
            }
        }
    }
    @include media-breakpoint-up(lg) {
        border-left: 1px solid $primary-color;
        ul {
            margin-bottom: 1.5rem;
            li {
                border-left: rem(8) solid #ededed;
                margin-bottom: 2rem;
                @include transition();
                a {
                    padding: 1.7rem 0 1.7rem 1.7rem;
                    text-transform: uppercase;
                    font-size: 1rem;
                    letter-spacing: 2px;
                }
            }
        }
    }
    @include media-breakpoint-down(md) {
        &__panel {
            border-top: 1px solid $primary-color;
            margin-bottom: 3rem !important;
        }
        ul li {
            border-top: .5rem solid #ededed;
            margin-right: .8rem;
            text-align: center;
            a {
                padding: .5rem;
                white-space: nowrap;
            }
            &:last-child {
                margin-right: 0;
            }
        }
        .slick-dots li {
            border-top: 0;
            margin: 0 8px;
        }
    }
}

.eventtabs {
    ul {
        list-style: none;
        padding: 0;
        margin-bottom: 2rem;
    }
    &__panel {
        li {
            display: inline-block;
            margin-right: .8rem;
            a {
                padding: .5rem 1rem;
                background: #dcdcdc;
                color: gray;
                display: block;
                text-align: center;
                white-space: nowrap;
            }
            &.current-menu-item a {
                background: gray;
                color: #fff;
            }
            @include hover-focus-active {
                @extend .current-menu-item;
            }
        }
    }
}

.sidebar-news__item {
    border-bottom: 1px solid #cccccc;
    .title-thumb-news h5 {
        font-size: rem(14)
    }
}


/*Event Page*/

.event {
    &-section {
        .img-feature {
            overflow: hidden;
            .img-link {
                width: 100%;
                height: rem(170);
                display: inline-block;
                position: relative;
                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background: rgba(0, 0, 0, 0.7);
                    border-left: 3px solid $primary-color;
                    border-right: 3px solid $primary-color;
                    z-index: 1;
                    @include transition(all 0.35s ease);
                }
                &:before {
                    transform: skew(45deg) translateX(-155%);
                }
                &:after {
                    transform: skew(45deg) translateX(155%)
                }
            }
            .figcaption {
                top: 50%;
                left: 50%;
                position: absolute;
                z-index: 2;
                -webkit-transform: translate(-50%, -50%) scale(0.5);
                transform: translate(-50%, -50%) scale(0.5);
                opacity: 0;
                box-shadow: 0 0 10px #000000;
                .event__view-detail {
                    background-color: #000000;
                    border: 2px solid $primary-color;
                    color: white;
                    font-size: 1rem;
                    font-weight: 600;
                    letter-spacing: 1px;
                    margin: 0;
                    padding: rem(5) rem(10);
                    text-transform: uppercase;
                    display:inline-block;
                }
            }
        }
        .single-blog {
            &:hover {
                .img-feature .img-link {
                    &:before {
                        transform: skew(45deg) translateX(-55%);
                    }
                    &:after {
                        transform: skew(45deg) translateX(55%);
                    }
                }
                .figcaption {
                    transform: translate(-50%, -50%) scale(1);
                    opacity: 1;
                }
            }
        }
    }
    &-thumbnail {
        img {
            width: 100%
        }
    }
}

.error-404 {
    background: url('../images/404.jpg') 0 0/cover no-repeat;
    .page-content {
        padding: 12rem 0;
    }
    .text-404 {
        font-size: 20vw;
        line-height: 1.2;
    }
    .display-404 {
        font-size: 1.5rem;
        display: inline-block;
        position: relative;
        span {
            display: inline-block;
            vertical-align: middle;
        }
    }
    .quote-tag {
        white-space: nowrap;
        overflow: hidden;
        border-right: .1em solid white;
        letter-spacing: 2px;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        animation: typing 4s steps(30, end) infinite, blink-caret .5s step-end infinite;
        max-width: rem(350);
    }
}