// .EU-intro {
//     &__title {
//         font-size: rem(20);
//     }
//     .find-nation {
//         position: relative;
//         &:before {
//             content: "";
//             background-color: red;
//             border-radius: 50%;
//             position: absolute;
//             top: rem(-25);
//             left: rem(29);
//             width: rem(25);
//             height: rem(25);
//             z-index: 1;
//             animation: ripple 2s linear infinite;
//             transform: translate(-50%, -50%);
//         }
//         img {
//             z-index: 2;
//             position: relative;
//         }
//     }
// }
// @include media-breakpoint-up(md) {
//     .video-section,
//     .EU-video {
//         .container {
//             width: 100%;
//             padding: 0;
//             max-width: 100%;
//         }
//     }
// }
//---------------------------
//New homepage
.home-page {
    @media screen and (min-width: 1600px) {
        section > .container-home {
            max-width: 1570px;
        }
    }
}

.btn {
    &-actions {
        a {
            padding: .7rem 2rem;
            font-size: 1.2rem;
            text-align: center;
            display: inline-block;
            white-space: nowrap;
        }
    }
    &-register {
        @include display-style(white, $primary-color);
        border-radius: 2rem;
        font-family: "Roboto", sans-serif;
        border: 2px solid $primary-color;
        font-weight: bold;
        @include hover-focus-active {
            @include display-style($primary-color, white);
        }
    }
    &-more {
        font-family: "Roboto", sans-serif;
        @include hover-focus-active {
            // letter-spacing: 1px;
        }
    }
}

.btn-register--line {
    @extend .btn-register;
    @include display-style(white, transparent);
    border-color: white;
}

.america-block {
    @include media-breakpoint-up(xl) {
        .title-style-02 {
            font-size: rem(45);
            font-size: 2.33vw;
        }
    }
}

.homepage-panel {
    font-family: "utm-alexander", sans-serif;
    line-height: 1.35;
    span {
        line-height: 1.35;
    }
    .display-st {
        color: black;
        font-size: 48.13px;
        font-size: 2.5vw;
    }
    .display-nd {
        font-size: 55px;
        font-size: 2.85vw;
    }
    .display-rd {
        font-size: 133.25px;
        font-size: 6.9vw;
    }
}

.australia-block {
    background: url('../images/home-page/australia-banner.jpg') center/cover no-repeat;
    font-family: "utm-alexander", sans-serif;
    background-attachment: fixed;
    padding: 18rem 0 5rem;
    h2,
    h3 {
        font-weight: normal
    }
    .display-title {
        font-size: 140px;
        font-size: 7.3vw;
        line-height: 1;
    }
    .block-home {
        &__title {
            .left {
                font-size: 52px;
                font-size: 2.7vw;
                line-height: 1.2;
                white-space: nowrap;
            }
        }
        &__sub-title {
            font-size: 43px;
            font-size: 2.24vw;
        }
    }
    .list-visa {
        display: flex;
        justify-content: flex-end;
        margin: 1.5rem 0;
        a {
            color: white;
            font-size: 37px;
            font-size: 1.92vw;
            position: relative;
            padding-left: 1rem;
            white-space: nowrap;
            &:after {
                content: "";
                width: 10px;
                height: 10px;
                background: white;
                position: absolute;
                left: 0;
                top: 48%;
                @include transition();
                @include transform(rotate(45deg))
            }
            &:hover:after {
                @include transform(rotate(0))
            }
        }
        li {
            position: relative;
            margin-left: 3rem;
        }
    }
    .btn-register--line {
        @include media-breakpoint-up(xl) {
            margin-left: 30%;
        }
    }
}

.canada-block {
    h2 {
        font-family: "utm-alexander", sans-serif;
        font-weight: normal
    }
    .display-st {
        font-size: 125px;
        font-size: 6.5vw;
        line-height: 1;
    }
    .display-nd {
        font-size: 50px;
        font-size: 2.6vw;
        line-height: 1;
        color: black;
    }
}

.white-box {
    background: rgba(white, 0.8);
    padding: 2.5rem;
    h2 {
        font-weight: normal
    }
    .display-st {
        font-size: 125px;
        font-size: 6.5vw;
        line-height: 1;
        font-family: "utm-alexander", sans-serif;
        margin-bottom: 2rem;
    }
    .display-nd {
        font-size: 30px;
        font-size: 1.55vw;
    }
}

.europe-block {
    background: url('../images/home-page/chau-au-banner.jpg') 0 0/cover no-repeat;
    padding: 5rem 0;
}

.grenada-block {
    background: url('../images/home-page/grenada-banner.jpg') 0 0/cover no-repeat;
    padding: 5rem 0;
}

.slide-nation {
    .nation-name {
        font-size: 50px;
        font-size: 2.55vw;
        color: black;
        padding: 0 1rem;
        font-family: "utm-alexander", sans-serif;
        white-space: nowrap;
    }
    .item {
        justify-content: center
    }
    .flag {
        min-width: rem(80)
    }
    .slick {
        &-arrow {
            width: 3rem;
            height: 3rem;
            background: #245FA1;
            border-color: #245FA1;
            opacity: 0;
            @include hover-focus-active {
                background: white;
            }
        }
        &-prev {
            left: 0;
            @include hover-focus-active {
                &:after {
                    border-right-color: #245FA1
                }
            }
        }
        &-next {
            right: 0;
            @include hover-focus-active {
                &:after {
                    border-left-color: #245FA1
                }
            }
        }
    }
    &:hover {
        .slick {
            &-arrow {
                opacity: 1;
            }
            &-prev {
                left: -5%;
            }
            &-next {
                right: -5%;
            }
        }
    }
}

@include media-breakpoint-down(lg) {
    .w-90-mb {
        max-width: 90%;
    }
    .america-block .btn-actions a {
        font-size: .9rem;
    }
    .australia-block {
        padding: 5rem 0;
        .btn-register--line {
            margin-left: 22%;
        }
    }
    .white-box .display-nd {
        font-size: rem(20)
    }
    .slide-nation {
        padding: 0 2.5rem;
        .nation-name {
            font-size: rem(20)
        }
    }
}

@include media-breakpoint-down(md) {
    .australia-block .list-visa a:after {
        width: 5px;
        height: 5px;
    }
    .america-block .btn-actions a {
        padding: .5rem 1rem;
    }
}

@include media-breakpoint-down(sm) {
    .slide-nation {
        padding: 0 10px;
    }
    .homepage-panel {
        .display-st {
            font-size: 25px;
        }
        .display-nd {
            font-size: 30px;
        }
        .display-rd {
            font-size: 50px;
        }
    }
    .america-block .space--80 {
        margin-bottom: 0 !important
    }
    .w-90-mb {
        max-width: rem(180);
    }
    .australia-block {
        .block-home__title .left {
            font-size: rem(25)
        }
        .display-title {
            font-size: rem(67)
        }
        .list-visa a {
            font-size: rem(20)
        }
    }
    .canada-block {
        .display-st {
            font-size: rem(70);
        }
        .display-nd {
            font-size: rem(30)
        }
    }
    .white-box {
        .display-st {
            font-size: 3rem;
        }
        h2 {
            line-height: 1;
        }
    }
}

@include media-breakpoint-down(xs) {
    .w-90-mb {
        max-width: 7.25rem;
    }
    .australia-block {
        .block-home__title .left {
            font-size: 1.2rem;
        }
        .list-visa a,
        .block-home__sub-title {
            font-size: 1rem
        }
        .list-visa li {
            margin-left: 2rem
        }
    }
    .btn-actions a {
        font-size: 1rem;
        padding: .4rem 1rem;
    }
    .canada-block {
        .display-nd {
            font-size: rem(20)
        }
        h2 {
            line-height: 1;
        }
    }
    .white-box .display-nd {
        font-size: 1rem;
    }
    .grenada-block,
    .europe-block {
        padding: 1rem 0
    }
}