$input-color: #fafafa;
$input-bg: transparent;
$input-border-color:#989898;
.register-main {
    background: url('../images/register-bg.jpg') 0 0/cover no-repeat;
    background-attachment: fixed;
    position: relative;
}

.register {
    .form {
        &-control {
            border: 1px solid $input-border-color;
            background: $input-bg;
            color: $input-color;
            padding: $input-btn-padding-y $input-btn-padding-x;
            border-radius: 0;
            font-size: rem(14);
            @include placeholder($input-color);
            @include transition();
            @include hover-focus-active {
                box-shadow: none;
                outline: none;
                background: rgba(255, 255, 255, 0.35) !important;
                border: 1px solid #fff !important;
            }
            option {
                color: #000000
            }
        }
        &-check {
            margin-bottom: rem(10);
            label {
                font-weight: $font-weight-base;
                font-size: rem(13);
            }
            &-input {
                margin-top: rem(7)
            }
        }
        &-submit {
            button.btn__register {
                border-radius: 0;
                border: 1px solid;
                border-color: #ccc #ccc #bbb;
                font-weight: $font-weight-bold;
                font-size: rem(13);
                min-width: rem(200);
                @include display-style($black,
                $white);
                &:hover {
                    @include display-style($white,
                    $primary-color-dark)
                }
            }
        }
    }
    &__title {
        position: relative;
        letter-spacing: 1px;
    }
    &__panel {
        position: relative;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &__dark {
        background: rgba(0, 0, 0, 0.8);
    }
    &__light {
        background-color: #ffffff;
        opacity: 0.3;
    }
}