<!-- hotline -->
<section class="hotline space--30" data-aos="flip-down">
    <h1 class="main-title text-center text-uppercase">Hottine<span style="color:#000000"> tư vấn liên hệ</span></h1>
    <div class="container">
        <div class="row text-center">
            <div class="col-3 col-sm-1 d-none d-sm-block"></div>
            <div class="col-12 col-sm-5 mb-5 mb-sm-0">
                <h3><strong>TP.HCM</strong></h3>
                <strong><a href="tel:+842873072777">(028) 730 72 777</a></strong>
            </div>
            <div class="col-12 col-sm-5">
                <h3><strong>HÀ NỘI</strong></h3>
                <strong><a href="tel:+842473072777">(024) 730 72 777</a></strong>
            </div>
            <div class="col-3 col-sm-1 d-none d-sm-block"></div>
        </div>
    </div>
</section>
<!-- End hotline -->