@keyframes ripple {
    from {
        width: rem(25);
        height: rem(25);
        opacity: .6;
    }
    to {
        width: rem(60);
        height: rem(60);
        opacity: 0;
    }
}

@keyframes typing {
    0% {
        width: 0;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: white
    }
}