@keyframes ripple {
    from {
        width: rem(25);
        height: rem(25);
        opacity: .6;
    }
    to {
        width: rem(60);
        height: rem(60);
        opacity: 0;
    }
}

@keyframes typing {
    0% {
        width: 0;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: white
    }
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

.effect-01 {
    position: relative;
    overflow: hidden;
    &__detail {
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 0;
        padding: 1rem;
        color: white;
        background: rgba(black, 0.7);
        @include transform(translate3d(0, 100%, 0));
        @include transition(transform 0.35s);
    }
    &:hover {
        .effect-01__detail {
            @include transform(translate3d(0, 0, 0))
        }
    }
}

.black-hover-effect {
    position: relative;
    overflow: hidden;
    &:after {
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        top: 100%;
        left: 0;
        background: #000000;
        z-index: -1;
        @include transition();
    }
    &:hover {
        &:after {
            top: 0;
        }
    }
}


/* fill background */

@-webkit-keyframes fill {
    0% {
        top: 100%;
    }
    100% {
        top: 0px;
    }
}

@-moz-keyframes fill {
    0% {
        top: 100%;
    }
    100% {
        top: 0px;
    }
}

@keyframes fill {
    0% {
        top: 100%;
    }
    100% {
        top: 0px;
    }
}


/* jump social icons */

@-webkit-keyframes iconjump {
    0% {
        top: 14px;
    }
    10% {
        top: 30px;
    }
    20% {
        top: 14px;
    }
    50% {
        top: 14px;
    }
    90% {
        top: 14px;
    }
    100% {
        top: 14px;
    }
}

@-moz-keyframes iconjump {
    0% {
        top: 14px;
    }
    10% {
        top: 30px;
    }
    20% {
        top: 14px;
    }
    50% {
        top: 14px;
    }
    90% {
        top: 14px;
    }
    100% {
        top: 14px;
    }
}

@keyframes iconjump {
    0% {
        top: 14px;
    }
    10% {
        top: 30px;
    }
    20% {
        top: 14px;
    }
    50% {
        top: 14px;
    }
    90% {
        top: 14px;
    }
    100% {
        top: 14px;
    }
}