$arrow-bg:#939598;
.slick {
    &-arrow {
        width: rem(32);
        height: rem(32);
        background-color: $arrow-bg;
        border: 2px solid $arrow-bg;
        font-size: 0;
        border-radius: 100%;
        @include transition();
        &:after {
            width: 0;
            height: 0;
            content: "";
            border: rem(9) solid;
            @include transition();
        }
        &:hover {
            background: $white;
            &.slick-prev:after {
                border-right-color: $arrow-bg
            }
            &.slick-next:after {
                border-left-color: $arrow-bg
            }
        }
    }
    &-prev {
        left: -11%;
        &:after {
            border-color: transparent $white transparent transparent;
            margin-left: rem(-11)
        }
    }
    &-next {
        right: -10%;
        &:after {
            border-color: transparent transparent transparent $white;
            margin-left: rem(10)
        }
    }
    &-slider .slick-track {
        display: flex;
        align-items: center;
    }
    &-dots {
        margin: 1rem 0;
        bottom: auto;
        top: 110%;
        li {
            width: 1rem;
            height: 1rem;
            line-height: 1rem;
            button {
                background: transparent;
                border: 0;
                &:before {
                    font-family: 'slick';
                    font-size: 6px;
                    line-height: 1rem;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 1rem;
                    height: 1rem;
                    content: '•';
                    text-align: center;
                    opacity: .25;
                    color: black;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }
            }
            &.slick-active button {
                background-color: transparent;
                &:before {
                    opacity: 1;
                }
            }
        }
    }
}

// Slide Image 
.slide-img__wrap {
    .carousel-control-prev,
    .carousel-control-next {
        width: rem(50);
        height: rem(50);
        border-radius: 100%;
        border: 1px solid $primary-color;
        top: calc((100% - 50px)/2);
        background: $primary-color;
        opacity: 0;
        @include transition()
    }
    .carousel-control-prev {
        left: 0
    }
    .carousel-control-next {
        right: 0;
    }
    &:hover {
        .carousel-control-next,
        .carousel-control-prev {
            opacity: 1;
        }
        .carousel-control-next {
            right: -4rem;
        }
        .carousel-control-prev {
            left: -4rem;
        }
    }
}

@include media-breakpoint-down(sm) {
    .tab__panel-sm {
        margin: 0 1.5rem;
        .slick-arrow {
            background-color: transparent;
            color: #000000;
            border: 0;
            &:after {
                display: none
            }
            &:before {
                content: "\f105";
                @include fontAwesome(1.5rem)
            }
            &[aria-disabled="true"] {
                opacity: 0.4;
            }
        }
        .slick-prev:before {
            transform: rotate(180deg)
        }
    }
}