<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <meta name="format-detection" content="telephone=no">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap&subset=vietnamese" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/app.css">
    <link rel="stylesheet" media="print" href="stylesheets/print.css">
    {% block head %}{% endblock %}

</head>

<body {% block bodyClass %}{% endblock %}>
    <div id="wrapper">
        {% block header %} {% endblock %}
        <main id="main-content">
            {% block content %} {% endblock %}
        </main>
        {% block footer %} {% include "modules/footer.html" %} {% endblock %} {% block javascript %} {% include "modules/javascript.html" %} {% endblock %}
        <div class="d-sm-none py-3 py-md-4 fixed-bottom bg-dark">
            <p class="d-xl-block mb-0 text-center">
                <a href="#register" class="d-inline">
                    <span class="contact bg-default rounded py-2 px-3 d-inline "> 
                        <b><i class="fa fa-phone pr-2" aria-hidden="true"></i> Yêu cầu chuyên viên tư vấn gọi lại</b> 
                    </span>
                </a>
            </p>
        </div>
        <div class="scrollTop">
            <a href="javascript: void(0);"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
        </div>
    </div>
</body>

</html>